<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <link rel="stylesheet" href="/css/footer.css">
    <div id="footer">
        <hr>
        <div class="footer-left">
            <img src="/img/Logo.png">
        </div>
        <div class="footer-middle">
            <ul class="footer-menu">
                <li><a href="#">회사소개</a></li>
                <li><a href="#">공지사항</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">1:1 문의</a></li>
                <li><a href="#">이용약관</a></li>
                <li><a href="#">개인정보처리방침</a></li>
            </ul>
            <span>주소 : 서울특별시 영등포구 선유동2로 57 이레빌딩(구관) 19F, 20F | 회사명 : ESSENTIAL# | 대표이사 : 이윤수 </span>
            <span>고객님은 안전거래를 위해 결제 시 저희 사이트에서 가입한 구매 안전 서비스를 이용하실 수 있습니다. </span>
            <span id="copyright">Copyright. 2023 CEREAL All Right Reserved</span>
        </div>
        <div class="footer-right">
            <span class="footer-right-title">고객문의 대표전화</span>
            <span class="footer-right-phone">1234-5678</span>
            <span class="footer-right-time">AM 09:00 ~ PM 06:00</span>
            <span class="footer-right-time">(토요일, 공휴일 휴무)</span>
        </div>
    </div>
</html>