<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    <link rel="stylesheet" href="/css/header.css">  
    <div id="header">
        <div class="header-top">
            <ul>
                <a href="/aboutUs"><li>about us</li></a>
                <a href="#"><li>고객센터</li></a>
            </ul>
        </div>
        <div class="header-middle">
            <div class="header-logo">
                <a href="/index.html"><img src="/img/Logo.png"></a>
            </div>
            <div class="header-search">
                <div class="header-search-box">
                    <input type="search" placeholder="검색어를 입력하세요.">
                </div>
                <button type="submit"><span class="material-icons">search</span></button>
            </div>
            <div class="header-menu">
                <a href="#"><img src="/img/cart.png"></a>
                <a href="#"><img src="/img/login.png"></a>
                <a href="#"><img src="/img/enroll.png"></a>
            </div>
        </div>
        <div class="header-bottom">
            <div class="main-category">
                <ul>
                    <li>
                        <a href="#">가구</a>
                        <ul class="sub-category">
                            <li><a href="#">의자</a></li>
                            <li><a href="#">책상</a></li>
                            <li><a href="#">침대</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">조명</a>
                        <ul class="sub-category">
                            <li><a href="#">스탠드</a></li>
                            <li><a href="#">탁상</a></li>
                            <li><a href="#">벽걸이</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">악세사리</a>
                        <ul class="sub-category">
                            <li><a href="#">시계</a></li>
                            <li><a href="#">꽃병</a></li>
                            <li><a href="#">거울</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">패브릭</a>
                        <ul class="sub-category">
                            <li><a href="#">커튼</a></li>
                            <li><a href="#">러그</a></li>
                            <li><a href="#">쿠션</a></li>
                        </ul>
                    </li>
                    <li><a href="/event/list">이벤트</a></li>
                </ul>
            </div>
        </div>
        
    </div>
</html>