<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <script src="/javascript/jquery-3.7.0.js"></script>
    <div class="side-wrap">
        <div class="wrap-title">고객센터</div>
        <div class="myPage-list-wrap">
            <ul>
                <li><a href="/notice/list?reqPage=1" class="sideButton" id="noticeListBtn"  onclick="changeBtn(event)">공지사항</a></li>
                <li><a href="/usualQna/list?reqPage=1" class="sideButton" id="usualQnaListBtn" onclick="changeBtn(event)">자주하는 질문</a></li>
                <li><a href="#" class="sideButton" id="personalQnaBtn" onclick="changeBtn(event)">1:1 문의</a></li>
                <li><a href="#" class="sideButton" id="FACBtn" onclick="changeBtn(event)">Furniture Access Check</a></li>
            </ul>
        </div>
    </div>
    <script src="/javascript/myPageList.js"></script>
    <script th:inline="javascript">
        const btnValue = [[${btn}]];
        $(".myPage-list-wrap>ul>li>a").eq(btnValue).addClass("active");
    </script>
</html>