<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <div class="side-wrap">
        <div class="wrap-title">고객센터</div>
        <div class="myPage-list-wrap">
            <ul>
                <li><a href="/notice/list?reqPage=1" class="sideButton" id="myPageBtn">공지사항</a></li>
                <li><a href="#" class="sideButton" id="myPageBtn" onclick="changeBtn(event)">자주하는 질문</a></li>
                <li><a href="#" class="sideButton" id="myPageBtn" onclick="changeBtn(event)">1:1 문의</a></li>
                <li><a href="#" class="sideButton" id="myPageBtn" onclick="changeBtn(event)">Furniture Access Check</a></li>
            </ul>
        </div>
    </div>
</html>