<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상품목록</title>
    <link rel="stylesheet" href="/css/productList.css">
    <script src="/javascript/jquery-3.7.0.js"></script>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
</head>
<body>
	<div class="product-list-content">
        <p>C A T E G O R Y</p>
        <ul>
            <li th:each="product : ${productList}">
                <a href="#">
                    <img src="/img/list-cart.png" class="list-cart">
                    <div class="product-img">
                        <img src="@{/product/filedown(filename=${file.filename},filepath=${file.filepath})}">
                    </div>
                    <div class="product-info">
                        <div class="product-name">상품 이름</div>
                        <div class="product-brand">ESSENTIAL<span class="sharp">#</span></div>
                        <div class="product-price-info">
                            <div class="product-final-price">최종가격</div>
                            <div class="product-price">할인 전 가격</div>
                            <div class="product-percent">%</div>
                        </div>
                        <div>
                            <div id="soldout">sold out</div>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</body>
</html>