<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상품 상세보기</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    <link rel="stylesheet" href="/css/productDetail.css">
    <script src="/javascript/jquery-3.7.0.js"></script>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
</head>
<body>
    <div class="product-detail" th:each="p : ${p}">
        <div class="product-detail-category">
            <a href="#"><span class="product-detail-category-main">메인 카테고리</span></a>
            <span class="product-detail-category-arrow">></span>
            <a href="#"><span class="product-detail-category-sub">서브 카테고리</span></a>
        </div>
        <div class="product-detail-content1">
            <div class="product-detail-subimg-box">
                <div class="subimg-box1">
                    <img src="/img/detail1.jpg">
                </div>
                <div class="subimg-box2">
                    <img src="/img/detail2.jpg">
                </div>
                <div class="subimg-box3">
                    <img src="/img/detail3.jpg">
                </div>
            </div>
            <div class="product-detail-mainimg-box">
                <img src="/img/detail4.jpg">
            </div>
            <div class="product-detail-info">
                <div class="detail-info1">
                    <div class="product-detail-info-brand">ESSENTIAL<span class="sharp">#</span></div>
                    <div class="product-detail-info-name" th:text="${p.productName}"></div>
                </div>
                <div class="product-detail-info-starrate"><span class="star">★</span> 4.7</div>
                <div class="detail-info2">
                    <div class="product-detail-info-percent" th:text="${p.productPercent}+${'%'}"></div>
                    <div class="product-detail-info-price" th:text="${p.productPrice}+${'원'}"></div>
                </div>
                <div class="product-detail-info-final-price" th:text="${p.productFinalPrice}+${'원'}"></div>
                <div class="detail-info3">
                    <div class="product-detail-info-point">
                        <div class="info-point-title">적립</div>
                        <div class="info-point" th:text="${p.productPoint}+${'p'}"></div>
                    </div>
                    <div class="product-detail-info-del">
                        <div class="info-del-title">배송</div>
                        <div class="info-del">무료배송</div>
                    </div>
                </div>
                <div class="product-detail-info-option">
                    <select class="product-option">
                        <option value="">옵션</option>
                        <option th:each="productOption : ${p.optionList}" th:value="${productOption.optionNo}" th:text="${productOption.optionName}"></option>
                    </select>
                </div>
                <div class="product-detail-info-optionbox">
                    <div class="option-count">
                        <button type="button" id="plus">+</button>
                        <div class="count">1</div>
                        <button type="button" id="minus">-</button>
                    </div>
                </div>
                <div class="product-detail-info-totalPrice">
                    <div class="info-totalPrice-title">주문금액</div>
                    <div class="info-totalPrice">총 가격</div>
                </div>
                <div class="product-detail-btn-box">
                    <button id="cart-btn">장바구니</button>
                    <button id="purchase-btn">바로구매</button>
                </div>
            </div>
        </div>
        <div class="product-detail-content2">
            <div class="product-detail-tab">
                <div class="tab">
                    <ul>
                        <li class="active-tab">상품정보</li>
                        <li>상품리뷰</li>
                        <li>상품문의</li>
                        <li>배송/교환/반품</li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div class="product-detail-img">
                        상세이미지
                    </div>
                    <div class="product-review">
                        리뷰
                    </div>
                    <div class="product-qna">
                        문의
                    </div>
                    <div class="product-etc">
                        배송/반품
                    </div>
                </div>
            </div>
        </div>
        <div class="product-detail-content3">
            <div class="product-detail-info-option2">
                <select class="product-option2">
                    <option value="">옵션</option>
                </select>
            </div>
            <div class="product-detail-info-optionbox2">
                <div class="option-count2">
                    <button type="button" id="plus">+</button>
                    <div class="count2">1</div>
                    <button type="button" id="minus">-</button>
                </div>
            </div>
            <div class="product-detail-info-totalPrice">
                <div class="info-totalPrice-title">주문금액</div>
                <div class="info-totalPrice">총 가격</div>
            </div>
            <div class="product-detail-btn-box2">
                <button id="cart-btn">장바구니</button>
                <button id="purchase-btn">바로구매</button>
            </div>
        </div>

    </div>
    <script src="/javascript/productDetail.js"></script>
</body>
</html>