<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상품목록</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    <link rel="stylesheet" href="/css/productList.css">
    <script src="/javascript/jquery-3.7.0.js"></script>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
</head>
<body>
	<th:block th:include="common/header"></th:block>
	<div class="product-list-content">
        <p th:text="${cateName}"></p>
        <ul>
            <li th:each="product : ${productList}">
                <a th:href="@{/product/productDetail(productNo=${product.productNo})}">
                	<img src="/img/list-cart.png" class="list-cart">
                    <div class="product-img" th:each="productFile : ${product.fileList}">
                        <img th:src="@{/product/}+${productFile.filepath}">
                    </div>
                    <div class="product-info">
                        <div class="product-name" th:text="${product.productName}"></div>
                        <div class="product-brand">ESSENTIAL<span class="sharp">#</span></div>
                        <div class="product-price-info">
                            <div class="product-final-price" th:text="${#numbers.formatInteger(product.productFinalPrice, 3, 'COMMA') + '원'}"></div>
                            <div class="product-price" th:text="${#numbers.formatInteger(product.productPrice, 3, 'COMMA') + '원'}"></div>
                            <div class="product-percent" th:text="${product.productPercent}+${'%'}"></div>
                        </div>
                        <div>
                            <div id="soldout">sold out</div>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
        <div id="pageNavi" th:utext="${pageNavi}"></div>
    </div>
  	<th:block th:include="common/footer"></th:block>
</body>
</html>