<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ESSENTIAL#</title>
<link rel="stylesheet" href="/css/aboutUsWriteFrm.css">
<link rel="stylesheet" href="/css/productWriteFrm.css">

</head>
		<th:block th:include="/common/header"></th:block>
		<div class="content-wrap">
			<th:block th:include="/adminPage/adminPageList"></th:block>
			<div class="product-writeFrm">
				<div class="product-writeFrm-title">이벤트 수정</div>
				<hr>
				<form action="/event/update" method="post" enctype="multipart/form-data">
				<table class="product-writeFrm-tbl">
					<tr>
						<th>이벤트 제목</th>
						<td>
							<input type="hidden" name="eventNo" th:value="${e.eventNo}">
							<input type="text" class="input-form" name="eventTitle" th:value="${e.eventTitle}">
						</td>
					</tr>
					<tr>
						<th>이벤트 기간</th>
						<td>
							<input type="text" class="input-form" name="startDate" placeholder="시작날짜(YYYY.MM.DD.)" id="eventPeriod" th:value="${e.startDate}">
							<div  style='float:left;'>
								<span> ~ </span>
							</div>
							<input type="text" class="input-form" name="endDate" placeholder="종료날짜(YYYY.MM.DD.)" id="eventPeriod" th:value="${e.startDate}">
						</td>
					</tr>
					<tr>
						<th>이벤트 진행상태</th>
						<td th:switch="${e.eventStatus}">
							<select th:case="1" id="main-category" name="eventStatus">
								<option value="1" selected>진행 중</option>
								<option value="2">종료</option>
							</select>
							<select th:case="2" name="eventStatus">
								<option value="1">진행 중</option>
								<option value="2" selected>종료</option>
							</select>
						</td>
					</tr>
					<tr class="product-detail">
						<th>이벤트 내용</th>
						<td style="text-align: left;">
							<textarea class="text-form" name="eventContent" id="eventContent" th:utext="${e.eventContent}"></textarea>
						</td>
					</tr>
					<tr>
						<th>썸네일</th>
						<td>
							<div class="filebox">
								<input class="upload-name" placeholder="썸네일은 1개만 업로드할 수 있습니다." th:value="${e.thumbnail}">
								<label for="file">파일변경</label>
								<input type="file" name="upfile2"id="file">
							</div>
						</td>
					</tr>
					<tr>
						<th></th>
						<td>
							<p>· 30MB 이하의 이미지만 업로드 가능합니다.</p>
						</td>
					</tr>
					<tr>
						<th>썸네일 미리보기</th>
						<td>
							<div id="img-viewr">
								<img id="img-view" width="450px" th:src="@{/img/event/}+${e.thumbnail}">
							</div>
						</td>
					</tr>
				</table>
				<hr>
				<div class="product-writeFrm-sumbitBtn">
					<button type="submit">이벤트 수정</button>
					<button type="button" style='background-color:rgb(230,230, 230);color: #1C8394;margin-left:25px;'>삭제</button>
				</div>
			</form>
			</div>
		</div>
	<th:block th:include="/common/footer"></th:block>
				<!-- 썸머노트 -->
		<script src="/summernote/summernote-lite.js"></script>
		<script src="/summernote/lang/summernote-ko-KR.js"></script>
		<link rel="stylesheet" href="/summernote/summernote-lite.css">

	<script src="/javascript/event.js"></script>
</body>
</html>