<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ESSENTIAL#</title>
<link rel="stylesheet" href="/css/event.css">
<script src="/javascript/jquery-3.7.0.js"></script>
</head>
<body>
	<th:block th:include="common/header"></th:block>
	<div class="us-wrap">
		<div class="us-title">
			<br>
			<h1>이벤트</h1>
		</div>
        <div class="view-mid-wrap">
            <div class="line-wrap">
                <div class="title-line" th:text="${e.eventTitle}"></div>
            </div>
            <div class="line-wrap">
                <div class="content-line" th:text="${e.regDate}"></div>
            </div>
            <div class="view-content-wrap">
                <div class="view-content" th:utext="${e.eventContent}"></div>
            </div>
        </div>
		<div class="btn-line2">
        	<a class="basic-btn" href="/event/list">목록으로</a>
       	</div>
        <div class="btn-line2">
            <!-- 수정삭제 버튼은 관리자 로그인 시에만 보임 넣기-->
            <a class="basic-btn" th:href="@{/event/updateFrm(eventNo=${e.eventNo})}">수정</a>
            <button class="cancel-btn" th:onclick="eventDelete([[${e.eventNo}]])">삭제</button>
        </div>
	</div>
	<th:block th:include="common/footer"></th:block>
	<script src="/javascript/eventList.js"></script>
	
	<script>
	//이벤트 삭제
	function eventDelete(eventNo){
	    if(confirm("게시글을 삭제하시겠습니까?")){
	        location.href = "/event/delete?eventNo="+eventNo;
	    }
	}
	</script>
	
</body>
</html>