<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>적립금</title>
    <link rel="stylesheet" href="/css/accmulated_money.css">
</head>
<body>
    
    <th:block th:include="common/header"></th:block>
    
    <!---------------------------------------------------------------------------->
	<div class="content-wrap">


		<th:block th:include="myPage/myPageList"></th:block>


	    <div class="accmulated-money-wrap">
	    
	        <h2>상품문의</h2>
	
	        <div class="guide-ment-wrap">
	            <p>현재 보유하고 계신 적립금 내역입니다.</p>
	        </div> <!--<div class="guide-ment-wrap">-->
	
	        <div class="show-accmulated-money-wrap">
	            <div class="show-accmulated-money">현재 적립금</div>
	            <div class="accmulated-money">1,000원</div>
	        </div> <!--<div class="show-accmulated-money-wrap">-->
	
	        <div class="accmulated-money-history-wrap">
	            <table>
	                <thead>
	                    <tr>
	                        <th class="buy-date">날짜</th><th class="buy-product">구매 상품</th><th class="buy-price">금액</th>
	                    </tr>
	                </thead>
	                <tbody>
	                    <tr>
	                        <td class="buy-date-text">2023-08-22</td><td class="buy-product-text">[ESSENTIAL#]유리 보틀</td><td class="buy-price-text">1,000</td>
	                    </tr>
	                </tbody>
	            </table>
	        </div> <!--<div class="accmulated-money-history-wrap">-->
	
	        <div class="moreBtn-wrap">
	            <button type="button" class="moreBtn">더보기</button>
	        </div> <!--<div class="moreBtn-wrap">-->
	
	    </div> <!--<div class="product-inquiry-wrap">-->

	</div> <!-- <div class="content-wrap"> -->
    <!---------------------------------------------------------------------------->
    
    <th:block th:include="common/footer"></th:block>
    
</body>
</html>