<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>주문내역 / 배송현황</title>
    <link rel="stylesheet" href="/css/Donghyo_orderHistory-deliveryStatus_1.css">
	<script src="/javascript/jquery-3.7.0.js"></script>
</head>
<body>
    
    <th:block th:include="common/header"></th:block>
    
    <!---------------------------------------------------------------------------->
	<div class="content-wrap">


		<th:block th:include="myPage/Donghyo_myPageList"></th:block>


	    <div class="orderHistory-deliveryStatus-wrap">
	    

		        
		        <h2>주문내역 / 배송현황</h2>
		        
		        <div class="input-date-wrap">
		            <div>직접입력 조회</div>
		            <div>
		                <input type="date" name="select-date"> ~ <input type="date" name="select-date">
		                <button type="button" class="dateBtn">조회하기</button>
		            </div>
		        </div> <!--<div class="input-date-wrap">-->
		
		        <div class="date-message">
		            <div>날짜</div>
		            <p>
		                간 구매하신 내역입니다.<br>
		                <span class="guide-ment">주문번호를 클릭하시면 주문내역을 확인하실 수 있습니다.</span>
		            </p>
		        </div> <!--<div class="date-message">-->
		
				
		        <div class="order-table">
		            <table>
		                <thead>
		                    <tr>
		                        <th>주문번호</th><th>상품정보</th><th>수량</th><th>결제금액</th><th>배송현황</th>
		                    </tr>
		                </thead>
		                
		                <tbody>
		                    <tr onclick="window.location.href='/myPage/Donghyo_orderHistory-deliveryStatus_2?btn=1';">
		                        <td>012345678910</td><td>[ESSENTIAL#]유리 보틀</td><td>1</td><td>45,000</td><td>배송완료</td>
		                    </tr>
		                    <tr th:each="order:${orderList}">
		                        <td th:text="${order.orderNo}"></td><td th:text="${order.productName}"></td><td th:text="${order.orderAmount}"></td><td th:text="${order.totalPrice}"></td><td th:text="${order.orderStatus}"></td>
		                    </tr>  
		                </tbody>   
		            </table>
		        </div> <!--<div class="order-table">-->
		
		        <div class="moreBtn-wrap">
		            <button type="button" class="moreBtn" id="load" th:totalCount="${totalCount}" currentCount="0" value="1">더보기</button>
		        </div> <!--<div class="moreBtn-wrap">-->
		

		
	    </div> <!--<div class="orderHistory&deliveryStatus-wrap">-->

	</div> <!-- <div class="content-wrap"> -->
    <!---------------------------------------------------------------------------->
    
    <th:block th:include="common/footer"></th:block>
    
    <script>
    
    $("#moreBtn").on("click", function(){
		//추가로 가져올 게시물 시작번호
		const start = $(this).val();
		//한 번 '더보기'를 누를때 추가로 가지고 올 게시물 수
		const amount = 5;
		const end = Number(start) + amount -1;
		$.ajax({
			url : "/myPage/more",
			type : "post",
			data : {start:start, end:end},
			success : function(data){
				console.log(data);
				
				//출력할 HTML을 for반복문을 사용하여 생성
				for(let i=0;i<data.length;i++){
					const order = data[i];
					
					const div = $("<div>");
					div.addClass("posting-item"); 
					// -> <div class="postion-item"></div>
					
					const imgDiv = $("<div>");
					imgDiv.addClass("posting-img");
					// -> <div class="posting-img"></div>
					
					const img = $("<img>");
					img.attr("src", "/photo/"+photo.filepath);
					// -> <img src="파일경로">
					
					imgDiv.append(img);
					/*
					   ->  <div class="posting-img">
							  <img src="파일경로">
						   </div>
					*/
					
					const contentDiv = $("<div>");
					contentDiv.addClass("posting-content");
					// -> <div class="posting-content"></div>
					
					const title = $("<p>");
					title.text(photo.photoTitle);
					// -> <p>게시글 제목</p>
					
					contentDiv.append(title);
					/*
					   -> <div class="posting-content">
					   	  	 <p>게시글 제목</p>
					   	  </div>
					*/
					
					div.append(imgDiv).append(contentDiv);
					/*
					   -> <div class="posting-item">
					   	  	  <div class="posting-img">
					   	  	  	  <img src="파일경로">
					   	  	  </div>
					   	  	  <div class="posting-content">
					   	  	 	  <p>게시글 제목</p>
					   	  	  </div>
					      </div>
					*/
					$(".photoWrapper").append(div);
				}//for(let i=0;i<data.length;i++)
				
				//새로 읽어온 Photo게시글을 화면에 추가 완료
				// -> 더보기를 한 번 더 눌렀을 때 읽어온 이후 값을 조회하기 위한 준비
				const currentVal = Number($("#more-btn").val()); //Number로 형변환
				$("#more-btn").val(currentVal + amount);
				//currentCount 변경
				const currentCount = Number($("#more-btn").attr("currentCount"));
				const changeCount = currentCount + data.length;
				$("#more-btn").attr("currentCount", changeCount);
				
				const totalCount = Number($("#more-btn").attr("totalCount"));
				if(totalCount == changeCount){
					$("#more-btn").remove();
				}
			}//success : function(data)
		});//$.ajax
	});//$("#more-btn").on("click", function()

	//최초 '사진게시판' 페이지 이동시, '더보기'버튼 1회 활성화
	$("#more-btn").click();
    
    </script>
    
</body>
</html>