<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

    <link rel="stylesheet" href="/css/myPageList.css">
    <script src="/javascript/jquery-3.7.0.js"></script>
    
    <!---------------------------------------------------------------------------->
    
    <div class="side-wrap">
        <div class="wrap-title">마이페이지</div>
        <div class="myPage-list-wrap">
            <ul>
                <li><a href="/myPage/updateMemberInfo?btn=0" class="sideButton" id="updateMemberInfoBtn" onclick="changeBtn(event)">개인정보수정</a></li>
                <li><a href="/myPage/orderHistory-deliveryStatus_1?btn=1&reqPage=1" class="sideButton" id="orderHistoryDeliveryStatusBtn" onclick="changeBtn(event)">주문내역 / 배송현황</a></li>
                <li><a href="/myPage/orderCancel-change-return_1?btn=2&reqPage=1" class="sideButton" id="orderCancelChangeReturnBtn" onclick="changeBtn(event)">주문취소/교환/반품</a></li>
                <li><a href="/myPage/likeItList?btn=3" class="sideButton" id="likeItListBtn" onclick="changeBtn(event)">찜한 상품</a></li>
                <li><a href="/myPage/productReview_1?btn=4" class="sideButton" id="productReviewBtn" onclick="changeBtn(event)">상품 후기</a></li>
                <li><a href="/myPage/productInquiry_1?btn=5" class="sideButton" id="productInquiryBtn" onclick="changeBtn(event)">상품 문의</a></li>
                <li><a href="/myPage/accumulated_money?btn=6" class="sideButton" id="accumulatedMoneyBtn" onclick="changeBtn(event)">적립금</a></li>
            </ul>
        </div> <!--<div class="myPage-list-wrap">-->
    </div> <!--<div class="side-wrap">-->

    <!---------------------------------------------------------------------------->

    <script src="/javascript/myPageList.js"></script>
    <script th:inline="javascript">
        const btnValue = [[${btn}]];
        //console.log(btnValue);
        if(btnValue == 0){
            const updateMemberInfo = document.querySelector("#updateMemberInfoBtn");
            updateMemberInfo.classList.add("active");
        }else if(btnValue == 1){
            const orderHistoryDeliveryStatus = document.querySelector("#orderHistoryDeliveryStatusBtn");
            orderHistoryDeliveryStatus.classList.add("active");
        }else if(btnValue == 2){
            const orderCancelChangeReturn = document.querySelector("#orderCancelChangeReturnBtn");
            orderCancelChangeReturn.classList.add("active");
        }else if(btnValue == 3){
            const likeItList = document.querySelector("#likeItListBtn");
            likeItList.classList.add("active");
        }else if(btnValue == 4){
            const productReview = document.querySelector("#productReviewBtn");
            productReview.classList.add("active");
        }else if(btnValue == 5){
            const productInquiry = document.querySelector("#productInquiryBtn");
            productInquiry.classList.add("active");
        }else if(btnValue == 6){
            const accumulatedMoney = document.querySelector("#accumulatedMoneyBtn");
            accumulatedMoney.classList.add("active");
        }
    </script>

</html>