<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>주문취소/교환/반품</title>
    <link rel="stylesheet" href="/css/orderCancel-change-return_2.css">
</head>
<body>
    <th:block th:include="common/header"></th:block>
    
    <!---------------------------------------------------------------------------->
	<div class="content-wrap">


		<th:block th:include="myPage/myPageList"></th:block>


		    <div class="orderCancel-change-return-wrap">
		        
		        <h2>주문취소/교환/반품</h2>
		        
		        <div class="select-tap-container">
		            <input type="radio" name="orderCancel-change-return-tap" id="orderCancel-change-return-register" checked><label for="orderCancel-change-return-register">주문취소/교환/반품 접수</label>
		            <input type="radio" name="orderCancel-change-return-tap" id="select-change-return-list" onclick="window.location.href='/myPage/orderCancel-change-return_3?btn=2';"><label for="select-change-return-list">교환/반품 내역 조회</label>
		        </div> <!--<div class="select-tap-container">-->
		
		
		        <div class="orderCancel-change-return-register-table">
		            <table>
		                <thead>
		                    <tr>
		                        <th>유형 선택</th>
		                        <th colspan="2" class="select-tap">
		                            <input type="radio" name="selectTap" id="orderCancel" checked><label for="orderCancel">주문취소</label>
		                            <input type="radio" name="selectTap" id="change"><label for="change">교환</label>
		                            <input type="radio" name="selectTap" id="return"><label for="return">반품</label>
		                        </th>
		                        <th></th>
		                    </tr>
		                    <tr>
		                        <th>주문번호</th><th colspan="2" class="product-info">상품정보</th><th class="product-amount">수량</th>
		                    </tr>
		                </thead>
		                <tbody>
		                    <tr th:each="order: ${orderList}">
		                        <td th:text="${order.orderNo}"></td>
		                        <td class="img-container"><img src="/img/sample-img.jpg" width="150px"></td>
		                        <td class="product-info-text" th:text="${order.productName}"></td>
		                        <td class="product-amount-text" th:text="${order.orderAmount}"></td>
		                    </tr>
		                </tbody>
		            </table>
		        </div> <!--<div class="orderCancel-change-return-register-table">-->
		
		        <div class="writeReason-table">
		            <table>
		                <thead>
		                    <tr>
		                        <th class="reason">사유</th>
		                        <th class="insert-file"><button type="button" class="insertFile-btn">첨부파일</button></th>
		                    </tr>
		                </thead>
		                <tbody>
		                    <tr>
		                        <td colspan="2" class="reason-detail">
		                            <textarea class="reason-detail-text">주문취소/교환/반품 사유 작성</textarea>
		                        </td>
		                    </tr>
		                </tbody>
		            </table>
		        </div> <!--<div class="writeReason-wrap">-->   
		        
		
		        <div class="registerBtn-wrap">
					<button type="submit" class="registerBtn" onclick="window.location.href='/myPage/orderCancel-change-return_1?btn=2';">접수</button>
		        </div> <!--<div class="moreBtn-wrap">-->
		
		    </div> <!--<div class="orderCancel-change-return-wrap">-->

	</div> <!-- <div class="content-wrap"> -->
    <!---------------------------------------------------------------------------->
    
    <th:block th:include="common/footer"></th:block>
    
</body>
</html>