<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>주문취소/교환/반품</title>
    <link rel="stylesheet" href="/css/orderCancel-change-return_3.css">
</head>
<body>
    
    <th:block th:include="common/header"></th:block>
    
    <!---------------------------------------------------------------------------->
	<div class="content-wrap">


		<th:block th:include="myPage/myPageList"></th:block>


	    <div class="orderCancel-change-return-wrap">
	
	        <h2>주문취소/교환/반품</h2>
	
	        <div class="select-tap-container">
	            <input type="radio" name="orderCancel-change-return-tap" id="orderCancel-change-return-register" onclick="window.location.href='/myPage/orderCancel-change-return_1?btn=2&reqPage=1';"><label for="orderCancel-change-return-register">주문취소/교환/반품 접수</label>
	            <input type="radio" name="orderCancel-change-return-tap" id="select-change-return-list" checked><label for="select-change-return-list">주문취소/교환/반품 내역</label>
	        </div> <!--<div class="select-tap-container">-->
	        
	
	        <div class="orderCancel-change-return-history-wrap">
	            <table>
	                <thead>
	                    <tr>
	                        <th class="order-no">주문번호</th><th class="product-info" colspan="2">상품정보</th><th class="product-amount">수량</th><th class="change-or-return">구분</th>
	                    </tr>
	                </thead>
	                <tbody>
   	                    <tr th:each="cancel:${cancelList}">
	                        <td class="order-no-text" th:text="${cancel.orderNo}"></td>
	                        <td class="product-info-text" th:text="${cancel.productName}"></td><td class="product-info-text" th:text="${cancel.optionName}"></td>
	                        <td class="product-amount-text" th:text="${cancel.orderCount}"></td>
	                        <th:block th:switch="${cancel.orderStatus}">
	                        	<td class="change-or-return-text" th:case="3">주문 취소</td>
	                        	<td class="change-or-return-text" th:case="7">교환</td>
	                        	<td class="change-or-return-text" th:case="8">반품</td>
	                        </th:block>
	                    </tr>
	                </tbody>
	            </table>    
	        </div> <!--<div class="orderCancel-change-return-history-wrap">-->
	
	
			<div id="pageNavi" th:utext="${pageNavi}"></div>
	            
	    </div> <!--<div class="orderCancel-change-return-wrap">-->

	</div> <!-- <div class="content-wrap"> -->
    <!---------------------------------------------------------------------------->
    
    <th:block th:include="common/footer"></th:block>
    
</body>
</html>