<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>주문취소/교환/반품</title>
    <link rel="stylesheet" href="/css/orderCancel-change-return_3.css">
</head>
<body>
    
    <th:block th:include="common/header"></th:block>
    
    <!---------------------------------------------------------------------------->
	<div class="content-wrap">


		<th:block th:include="myPage/myPageList"></th:block>


	    <div class="orderCancel-change-return-wrap">
	
	        <h2>주문취소/교환/반품</h2>
	
	        <div class="select-tap-container">
	            <input type="radio" name="orderCancel-change-return-tap" id="orderCancel-change-return-register" onclick="window.location.href='/myPage/orderCancel-change-return_1?btn=2';"><label for="orderCancel-change-return-register">주문취소/교환/반품 접수</label>
	            <input type="radio" name="orderCancel-change-return-tap" id="select-change-return-list" checked><label for="select-change-return-list">교환/반품 내역 조회</label>
	        </div> <!--<div class="select-tap-container">-->
	        
	
	        <div class="orderCancel-change-return-history-wrap">
	            <table>
	                <thead>
	                    <tr>
	                        <th class="order-no">주문번호</th><th class="product-info">상품정보</th><th class="product-amount">수량</th><th class="change-or-return">구분</th>
	                    </tr>
	                </thead>
	                <tbody>
	                    <tr>
	                        <td class="order-no-text">012345678910</td><td class="product-info-text">[ESSENTIAL#]유리 보틀</td><td class="product-amount-text">1</td><td class="change-or-return-text">교환</td>
	                    </tr>
	                </tbody>
	            </table>    
	        </div> <!--<div class="orderCancel-change-return-history-wrap">-->
	
	
	        <div class="moreBtn-wrap">
	            <button type="button" class="moreBtn">더보기</button>
	        </div> <!--<div class="moreBtn-wrap">-->
	            
	    </div> <!--<div class="orderCancel-change-return-wrap">-->

	</div> <!-- <div class="content-wrap"> -->
    <!---------------------------------------------------------------------------->
    
    <th:block th:include="common/footer"></th:block>
    
</body>
</html>