<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>주문취소/교환/반품</title>
    <link rel="stylesheet" href="/css/orderCancel-change-return_1.css">
    <script src="/javascript/jquery-3.7.0.js"></script>
</head>
<body>
    
    <th:block th:include="common/header"></th:block>
    
    <!---------------------------------------------------------------------------->
	<div class="content-wrap">


		<th:block th:include="myPage/myPageList"></th:block>


	    <div class="orderCancel-change-return-wrap">
	        
	        <h2>주문취소/교환/반품</h2>
	        
	        <div class="select-tap-container">
	            <input type="radio" name="orderCancel-change-return-tap" id="orderCancel-change-return-register" checked><label for="orderCancel-change-return-register">주문취소/교환/반품 접수</label>
	            <input type="radio" name="orderCancel-change-return-tap" id="select-change-return-list" onclick="window.location.href='/myPage/orderCancel-change-return_3?btn=2';"><label for="select-change-return-list">교환/반품 내역 조회</label>
	        </div> <!--<div class="select-tap-container">-->
	
	        <div class="orderCancel-change-return-register-table">
	            <table id="tableId">
	                <thead>
	                    <tr>
	                        <th width="40px"></th><th width="150px">주문번호</th><th width="460px">상품정보</th><th width="50px">수량</th><th width="100px">배송현황</th>
	                    </tr>
	                </thead>
	                <tbody>	
	                    <tr th:each="order:${orderList}">
	                        <td>
	                            <div class="check">
						            <input type="checkbox" name="order-info" class="check1" th:value="${order.orderNo}">
	                                <label for="check1"></label>
	                            </div>
	                        </td>
	                        <td th:text="${order.orderNo}"></td>
	                        <td th:text="${order.productName}"></td>
	                        <td th:text="${order.orderAmount}"></td>
	                        <td th:text="${order.orderStatus}"></td>
	                    </tr>
	                </tbody>
	            </table>
	        </div> <!--<div class="orderCancel-change-return-regiter-table">-->
			

			<div class="registerBtn-wrap">
				<!-- onclick="window.location.href='/myPage/orderCancel-change-return_2?btn=2;" -->
				<button type="button" class="registerBtn" >접수</button>
			</div> <!--<div class="moreBtn-wrap">-->
			
			<div id="pageNavi" th:utext="${pageNavi}"></div>	


	    </div> <!--<div class="orderCancel-change-return-wrap">-->

	</div> <!-- <div class="content-wrap"> -->
    <!---------------------------------------------------------------------------->
    
    <th:block th:include="common/footer"></th:block>
    
     <script th:inline="javascript">
     //체크된 만큼의 정보를 가지고 접수 버튼을 통해 이동
     
     //'접수'버튼
     $(".registerBtn").on("click", function(){
    	 //체크된 체크박스
    	 const checked = $(".check1:checked");
    	 //체크된 체크박스 없이 '접수'버튼을 누르면 함수를 종료
    	 if(checked.length == 0){
    		 return 0;
    	 }
    	 //체크된 주문 번호를 저장할 배열
    	 const orderNo = new Array();
    	 
    	 //forEach반복문
    	 checked.each(function(index, item){
    		//체크박스 기준으로 주문번호 선택
    		const selectOrderNo = $(item).parent().parent().next().text(); //<input type="checkbox" name="order-info" class="check1" th:value="${order.orderNo}">.<div class="check">.<td>.<td th:text="${order.orderNo}">.orderNo
    		//생성된 배열 orderNos에  선택된 값을 추가
    	 	console.log(selectOrderNo); 
    	 	orderNo.push(selectOrderNo);
    	 });
    	 
    	//배열명.join(): 배열의 요소(value)들을  문자열 연결로 반환
    	location.href = "/myPage/orderCancel-change-return_2?btn=2&orderNo="+orderNo.join("/");
     });
     
     
     /*
     //실패한 로직
		let totalCount = [[${totalCount}]];
		let checkCount = 0;
		
		function getLink(orderInfo){
			var str1 = "<button type='button' class='registerBtn' onclick=\"window.location.href='/myPage/orderCancel-change-return_2?btn=2";
			var str2 = "'\">접수</button>";
			var link1 = str1;
			var link2 = "";
			var orderNo=orderInfo;
			for(let i=0;i<checkCount;i++){
				let str = "&orderNo="+orderNo;
				link1 = link1 + str;
			}
			link2 = link1 + str2;					
			const registerBtnWrap  = document.getElementsByClassName("registerBtn-wrap")[0];
			registerBtnWrap.innerHTML = link2;
			console.log(registerBtnWrap);
		}
		function removeLink(){
			const registerBtn = document.querySelector(".registerBtn"); 
			registerBtn.parentNode.innerHTML = "";
		}

		const checkboxs = document.querySelectorAll(".check1"); //1-1
		for(let i=0;i<checkboxs.length;i++){
			const checkbox = checkboxs[i];
			checkbox.addEventListener("click", function(){
				if(checkbox.checked == true){
					console.log("체크 활성화 "+checkbox.checked);
					checkCount++;
					const orderInfo = checkbox.value;
					console.log(orderInfo);
					getLink(orderInfo);
				}else if(checkbox.checked == false){
					console.log("체크 비활성화 "+checkbox.checked);
					checkCount--;
					if(checkCount == 0){
						removeLink();
					}
				}
			}); //1-2
		}
	*/
	
	
	</script>
</body>
</html>