<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품문의</title>
    <link rel="stylesheet" href="/css/productInquiry_1.css">
</head>
<body>
    
    <th:block th:include="common/header"></th:block>
    
    <!---------------------------------------------------------------------------->
	<div class="content-wrap">


		<th:block th:include="myPage/myPageList"></th:block>


	    <div class="product-inquiry-wrap">
	        
	        <h2>상품문의</h2>
	
	        <div class="guide-ment-wrap">
	            <p>
	                ㆍ배송관련, 주문(취소/교환/반품)관련 문의 및 요청사항은
	                <a href="#">1:1 문의</a>에 남겨주세요.
	            </p>
	        </div> <!--<div class="guide-ment-wrap">-->
	
	        <div class="inquiry-list-wrap">
	            <table>
	                <thead>
	                    <tr>
	                        <th class="inquiry-title">상품문의</th><th class="register-date">작성일</th><th class="answer-status">답변상태</th>
	                    </tr>
	                </thead>
	                <tbody>
	                    <tr onclick="window.location.href='/myPage/productInquiry_2?btn=5';">
	                        <td class="inquiry-title-text">재입고 예정일이 궁금합니다.</td><td class="register-date-text">2023-08-22</td><td class="answer-status-text">답변완료</td>
	                    </tr>
	                </tbody>
	            </table>
	        </div> <!--<div class="inquiry-list-wrap">-->
	            
	        <div class="moreBtn-wrap">
	            <button type="button" class="moreBtn">더보기</button>
	        </div> <!--<div class="moreBtn-wrap">-->
	
	    </div> <!--<div class="product-inquiry-wrap">-->

	</div> <!-- <div class="content-wrap"> -->
    <!---------------------------------------------------------------------------->
    
    <th:block th:include="common/footer"></th:block>
    
</body>
</html>