<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품후기</title>
    <link rel="stylesheet" href="/css/productReview(modal)_2.css">
</head>
<body>
    
    <!---------------------------------------------------------------------------->
    <div id="write-review-modal" class="modal-background">
        <div class="write-review-modal-wrap">
            <div class="modal-head">
                <h2>후기 작성</h2>
                <div class="product-info">
                    <div class="img-container">
                        <img src="/img/sample-img.jpg" width="150px">
                    </div>
                    <span class="product-title">[ESSENTIAL#]유리 보틀</span>
                </div>
                <div class="button-container">
                    <button type="button" class="insert-file-btn">첨부파일</button>
                </div>
            </div> <!--<div class="modal-head">-->
            
            <div class="modal-body">
                <div class="textarea-container">
                    <textarea class="review-detail">상품 후기 상세 내용</textarea>
                </div>
                <div class="registerBtn-wrap">
                    <button type="button" class="registerBtn">작성완료</button>
                </div> <!--<div class="moreBtn-wrap">-->
            </div> <!--<div class="modal-body">-->
        </div> <!--<div class="write-review-modal-wrap">-->
    </div> <!--<div id="write-review-modal" class="modal-background">-->
    <!---------------------------------------------------------------------------->
</body>
</html>