<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>개인정보수정</title>
    <link rel="stylesheet" href="/css/yeojeong_signUp.css">
</head>
<body>
    
    <th:block th:include="common/header"></th:block>
    
    <!---------------------------------------------------------------------------->
	<div class="content-wrap">

		<th:block th:include="myPage/Donghyo_myPageList"></th:block>
		
	
   
		
	</div> <!-- <div class="content-wrap"> -->
    <!---------------------------------------------------------------------------->
    
    <th:block th:include="common/footer"></th:block>
    
</body>
</html>