<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ESSENTIAL#</title>
<link rel="stylesheet" href="/css/aboutUs.css">
</head>
<body>
	<th:block th:include="common/header"></th:block>
	<div class="us-wrap">
		<div class="us-title">
			<br>
			<h1>미디어 센터</h1>
		</div>
		<div class="news-content">
			<h3 th:text="${n.newsTitle}"></h3>
			<div class="news-center">
				<span th:text="${n.regDate}"></span>
				<span> | </span>
				<span th:text="${n.press}"></span>
			</div>
			<div class="newsContent" th:utext="${n.newsContentBr}"></div>
		</div>
		<div class="btn-line2">
        	<a class="basic-btn" id="move-winner" href="/news/list?reqPage=1">목록으로</a>
       	</div>
        <div class="btn-line2">
            <!-- 수정삭제 버튼은 관리자 로그인 시에만 보임 넣기-->
            <a class="basic-btn" th:if="${session.m != null && session.m.memberLevel == 1}"  th:href="@{/news/updateFrm(newsNo=${n.newsNo}, reqPage=${reqPage})}">수정</a>
            <button class="cancel-btn"  th:if="${session.m != null && session.m.memberLevel == 1}"  th:onclick="newsDelete([[${n.newsNo}]])">삭제</button>
        </div>
	</div>
	<th:block th:include="common/footer"></th:block>
	
	<script>
	//이벤트 삭제
	function newsDelete(newsNo){
	    if(confirm("작성된 기사를 삭제하시겠습니까?")){
	        location.href = "/news/deleteNews?newsNo="+newsNo;
	    }
	}
	</script>
</body>
</html>