<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ESSENTIAL#</title>
<link rel="stylesheet" href="/css/aboutUsWriteFrm.css">
<link rel="stylesheet" href="/css/productWriteFrm.css">

</head>
		<th:block th:include="/common/header"></th:block>
		<div class="content-wrap">
			<th:block th:include="/adminPage/adminPageList"></th:block>
			<div class="product-writeFrm">
				<div class="product-writeFrm-title">등록된 기사 수정</div>
				<hr>
				<form action="/news/update" method="post">
				<table class="product-writeFrm-tbl">
					<tr>
						<th>기사 제목</th>
						<td>
							<input type="hidden" name="newsNo" th:value="${n.newsNo}">
							<input type="text" class="input-form" name="newsTitle" th:value="${n.newsTitle}">
						</td>
					</tr>
					<tr class="product-detail">
						<th>기사 내용</th>
						<td style="text-align: left;">
							<textarea class="text-form" name="newsContent" id="eventContent" th:utext="${n.newsContent}"></textarea>
						</td>
					</tr>
				</table>
				<hr>
				<div class="product-writeFrm-sumbitBtn">
					<button type="submit">기사 수정</button>
					<button type="button" style='background-color:rgb(230,230, 230);color: #1C8394;margin-left:25px;'>취소</button>
				</div>
			</form>
			</div>
		</div>
	<th:block th:include="/common/footer"></th:block>
				<!-- 썸머노트 -->
		<script src="/summernote/summernote-lite.js"></script>
		<script src="/summernote/lang/summernote-ko-KR.js"></script>
		<link rel="stylesheet" href="/summernote/summernote-lite.css">

	<script src="/javascript/event.js"></script>
</body>
</html>