<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ESSENTIAL#</title>
</head>
<link rel="stylesheet" href="/css/aboutUs.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=x40vg9gigd&submodules=geocoder"></script>
<script src="/javascript/jquery-3.7.0.js"></script>
<body>
	<th:block th:include="common/header"></th:block>
	<div class="us-wrap">
        <div class="us-title">
			<br>
			<h1>오프라인 매장</h1>
			<br>
			<p><span class="essential">ESSENTIAL</span><span class="sharp">#</span> 매장들은 고객들에게 기쁨과 영감을 주는 독창적인 디자인 환경을 제공합니다.</p>
			<p>큐레이션된 디자인 아이콘과 미래에 소장가치가 있는 아이템에 대한 우리의 진화된 큐레이션을 보여드립니다.</p>
			<p><span class="essential">ESSENTIAL</span>의 세계에 빠져보세요.</p>
		</div>
        <div class="area">
            <ul>
                <li>마포</li>
                <li>논현</li>
                <li>분당</li>
                <li>송도</li>
                <li>광주</li>
                <li>대구</li>
                <li>대전</li>
                <li>제주</li>
                <li>춘천</li>
            </ul>
        </div>
        <div class="area-detail">
        <div class="area-img">
            <img>
            <div id="map"></div>
        </div>
            <h3 class="value-title">마포점</h3>
            <div class="area-content">
                <b>운영시간</b>
                <p>월-금: 오전10:30 ~ 오후8:00</p>
				<p>토-일: 오전10:30 ~ 오후8:00</p>
				<p>휴무: 연중무휴(설, 추석 당일 제외)</p>
            </div>
            <div class="area-content">
            	<b class="store-addr">주소</b>
                <p></p>
            	<b class="store-phone">전화번호</b>
                <p></p>
            </div>
        </div>
    </div>
	<th:block th:include="common/footer"></th:block>
<script src="/javascript/offStore.js"></script>
</body>
</html>