<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script src="/javascript/jquery-3.7.0.js"></script>
<link rel="stylesheet" href="/css/noticeList.css">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<th:block th:include="common/header"></th:block>
    <div class="wrab-content">
        <div class="side-wrap">
            <div class="wrap-title">고객센터</div>
            <div class="myPage-list-wrap">
                <ul>
                    <li><button type="button" class="button" id="myPageBtn" onclick="changeBtn(event)">공지사항</button></li>
                    <li><button type="button" class="button" id="myPageBtn" onclick="changeBtn(event)">자주하는 질문</button></li>
                    <li><button type="button" class="button" id="myPageBtn" onclick="changeBtn(event)">1:1 문의</button></li>
                    <li><button type="button" class="button" id="myPageBtn" onclick="changeBtn(event)">Furniture Access Check</button></li>
                </ul>
            </div>
        </div>
        <div class="page-content">
            <div class="page-title"><div class="content-title">공지사항</div><span class="page-slogan">새로운 소식을 한곳에서 확인하세요!</span></div>
            <table class="tbl notice-tbl">
                <tr>
                    <th style="width: 10%">번호</th>
                    <th style="width: 60%;">제목</th>
                    <th style="width: 15%;">작성자</th>
                    <th style="width: 15%;">작성일</th>
                </tr>
                <tr>
                    <td>글번호</td>
                    <td>글제목</td>
                    <td>작성자 이름</td>
                    <td>2020.02.02</td>
                </tr>
                <tr>
                    <td>글번호</td>
                    <td>글제목</td>
                    <td>작성자 이름</td>
                    <td>2020.02.02</td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>