<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script src="/javascript/jquery-3.7.0.js"></script>
<head>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined">
<meta charset="UTF-8">
<title>공지사항 Write</title>
</head>
<body>
	<th:block th:include="common/header"></th:block>
	<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
    <div class="wrap-content">
        <th:block th:include="common/serviceCenterSide"></th:block>
        <div class="page-content">
            <div class="page-title">
                <div class="content-title">공지사항 작성</div>
            </div>
            <div class="writeFrm-content">
                <form action="/notice/write" method="post" enctype="multipart/form-data">
                    <table class="tbl notice-tbl">
                        <tr>
                            <th style="width: 14% "><label for="writeFrmTitle">제목</label></th>
                            <td>
                                <input type="text" name="noticeTitle" id="writeFrmTitle" class="input-form" placeholder="제목을 입력해주세요">
                            </td>
                            <td style="display: none">
                                <input type="hidden" name="noticeWriter" th:value="${session.m.memberId}">
                            </td>
                        </tr>
                        <tr></tr>
                        <tr>
                            <th>파일첨부</th>
                            <td>
                                <input type="file" name="upfile" multiple>
                            </td>
                        </tr>
                        <tr class="not-border-bottom">
                            <th class="content-tr"><label for="writeFrmContent">내용</label></th>
                            <td>
                                <textarea name="noticeContent" id="writeFrmContent" class="input-form" placeholder="내용을 입력해주세요"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <th></th>
                            <td>
                                <div class="btn-line3">
                                    <button type="submit" class="basic-btn" id="writeBtn" onclick="return checkValue()">등록</button>
                                    <a href="/notice/list?reqPage=1" class="cancel-btn">취소</a>
                                </div>
                            </td>
                        </tr>
                    </table>
                </form>
                <!-- 모달 -->
                <div class="modal" id="writeFrmModal">
                    <div class="modal-content">
                        <div class="modal-title">제목과 내용을 모두 입력해주세요.</div>
                        <div class="modalBtn-area">
                            <button class="closeModalBtn" id="closeModal">닫기</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <th:block th:include="common/footer"></th:block>
</body>
<link rel="stylesheet" href="/css/notice.css">
<script src="/summernote/summernote-lite.js"></script>
<script src="/summernote/lang/summernote-ko-KR.js"></script>
<script src="/javascript/notice.js"></script>
</html>