<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script src="/javascript/jquery-3.7.0.js"></script>
<head>
<meta charset="UTF-8">
<title>공지사항 List</title>
</head>
<body>
	<th:block th:include="common/header"></th:block>
    <div class="wrap-content">
        <th:block th:include="common/serviceCenterSide"></th:block>
        <div class="page-content">
            <div class="page-title">
                <div class="content-title">공지사항</div>
                <span class="page-slogan">새로운 소식을 한곳에서 확인하세요!</span>
            </div>
            <table class="tbl notice-tbl">
                <tr>
                    <th style="width: 10%">번호</th>
                    <th style="width: 60%;">제목</th>
                    <th style="width: 15%;">작성자</th>
                    <th style="width: 15%;">작성일</th>
                </tr>
                <tr th:each="notice : ${noticeList}" th:onclick="noticeView([[${notice.noticeNo}]])" style="cursor: pointer;">
                    <td th:text="${notice.noticeNo}"></td>
                    <td th:text="${notice.noticeTitle}"></td>
                    <td th:text="${notice.noticeWriter}"></td>
                    <td th:text="${notice.regDate}"></td>
                </tr>
            </table>
            <div class="btn-line">
                <!-- th:if="${session.m != null && session.m.memberLevel == 1}" 잠시 제외 -->
                <a class="basic-btn" href="/notice/writeFrm">작성하기</a>
            </div>
            <div id="pageNavi" th:utext="${pageNavi}"></div>
        </div>
    </div>
    <th:block th:include="common/footer"></th:block>
    <script>
        function noticeView(noticeNo){
            location.href="/notice/view?noticeNo="+noticeNo;
        }
    </script>
</body>
<link rel="stylesheet" href="/css/notice.css">
</html>