<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script src="/javascript/jquery-3.7.0.js"></script>
<head>
<meta charset="UTF-8">
<title>자주하는 질문 List</title>
</head>
<body>
    <th:block th:include="common/header"></th:block>
    <div class="wrap-content">
        <th:block th:include="common/serviceCenterSide"></th:block>
        <div class="page-content">
            <div class="page-title">
                <div class="content-title">자주하는 질문</div>
                <span class="page-slogan">고객님들이 주로 하는 질문을 한곳에!</span>
            </div>
            <table class="tbl notice-tbl">
                <tr>
                    <th style="width: 10%;">번호</th>
                    <th style="width: 30%;">카테고리</th>
                    <th style="width: 60%;">제목</th>
                </tr>
                <th:block th:each="usualQna : ${usualQnaList}">
                    <tr class="showContent" style="cursor: pointer;">
                        <td th:text="${usualQna.qnaNo}"></td>
                        <td th:text="${usualQna.qnaCategory}"></td>
                        <td th:text="${usualQna.qnaTitle}"></td>
                    </tr>
                    <tr>
                        <td class="qnaContent" colspan="3" style="display: none; text-align: left">
                            <div th:text="${usualQna.qnaContent}"></div>
                            <!-- 수정삭제는 관리자 로그인 시에만 가능하도록 만들기 -->
                            <div class="btn-line2">
                                <a class="basic-btn" href="#">수정</a>
                                <a class="cancel-btn" href="#">삭제</a>
                            </div>
                        </td>
                    </tr>
                </th:block>
            </table>
        </div>
    </div>
    <th:block th:include="common/footer"></th:block>
</body>
<link rel="stylesheet" href="/css/notice.css">
<script src="/javascript/notice.js"></script>
</html>