<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/yeojeong_searchId.css"> 
	<script src="/javascript/jquery-3.7.0.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
	<th:block th:include="common/header"></th:block>
	<div class="wrap-content">
		<div class="search-whole-wrap">
			<div class="search-wrap">
				<div class="search-head">
					<h2>아이디 찾기</h2>   			
				</div>
				
				
					<div class="search-content">
						<div class="input-box">
							<label for="memberName">이름</label> <input type="text" name="memberName"
								id="memberName" class="search-input-form" placeholder="이름을 입력하세요">
						</div>
						<div class="comment-wrap">
	                        <div id="name_comment" style="display: none;"></div> 
	                    </div>
						<div class="input-box">
							<label for="memberEmail">이메일</label> <input type="text"
								name="memberEmail" id="memberEmail" class="search-input-form"
								placeholder="이메일을 입력하세요">
						</div>
						<div class="comment-wrap">
	                        <div id="email_comment" style="display: none;"></div> 
	                    </div>					
					</div>
					<div class="search-foot">
						<button type="button" class="searchId-btn">확인</button>
					</div>
				
			</div><!--search-wrap-->
		</div><!--search-whole-wrap-->
	</div><!--wrap-content-->
	<!--모달-->
	<div id="NEChkModal1" class="modalChk">
		<div class="modal-body">				
				<p class="conditionChk">가입하신 정보가 맞는지 확인해 주세요.</p>								
				<div class="modalChk-foot">						
					<button type="button" class="chkBtn">확인</button>						
				</div>			
		</div>
	</div>
	<div id="NEChkModal2" class="modalChk">
		<div class="modal-body">				
				<p class="idChk">회원님의 아이디는 <span id="foundMemberId" style="color: #A52502; font-weight: bold;"></span> 입니다.</p>								
				<div class="modalChk-foot">						
					<button type="button" class="chkBtn">확인</button>						
				</div>			
		</div>
	</div>
	<th:block th:include="common/footer"></th:block>
    <script src="/javascript/yeojeong_searchId.js"></script>
</body>
</html>