<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>1:1문의 Update</title>
</head>
<body>
	<th:block th:include="common/header"></th:block>
    <div class="wrap-content">
        <th:block th:include="common/serviceCenterSide"></th:block>
        <div class="page-content">
            <div class="page-title">
            </div>
            <div class="content-title">1:1문의 수정</div>
            <div class="writeFrm-content">
                <form action="/personalQna/update" class="noticeUpdateFrm" method="post" enctype="multipart/form-data">
                    <table class="tbl notice-tbl">
                        <tr>
                            <th style="width: 14% "><label for="writeFrmTitle">제목</label></th>
                            <td>
                                <input type="text" name="qnaTitle" id="writeFrmTitle" class="input-form" th:value="${p.qnaTitle}">
                                <input type="hidden" name="qnaNo" th:value="${p.qnaNo}">
                            </td>
                        </tr>
                        <!-- 아래 tr은 선 디자인으로 넣었음.(연한선을 위해) -->
                        <tr></tr>
                        <tr>
                            <th class="content-tr"><label for="writeFrmContent">내용</label></th>
                            <td>
                                <textarea name="qnaContent" id="writeFrmContent" class="input-form" th:text="${p.qnaContent}"></textarea>
                            </td>
                            
                        </tr>
                        <tr>
                            <th></th>
                            <td>
                                <div class="btn-line3">
                                    <button type="submit" class="basic-btn" id="writeBtn" onclick="return checkValue()">등록</button>
                                    <a href="/personalQna/list?reqPage=1" class="cancel-btn">취소</a>
                                </div>
                            </td>
                        </tr>
                    </table>
                </form>
                <!-- 모달 -->
                <div class="modal" id="writeFrmModal">
                    <div class="modal-content">
                        <div class="modal-title">제목과 내용을 모두 입력해주세요.</div>
                        <div class="modalBtn-area">
                            <button class="closeModalBtn" id="closeModal">닫기</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <th:block th:include="common/footer"></th:block>
</body>
<link rel="stylesheet" href="/css/notice.css">
<script src="/javascript/personalQna.js"></script>
</html>