<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원목록</title>
    <link rel="stylesheet" href="/css/allMemberList.css">
</head>
<body>
    
    <th:block th:include="common/header"></th:block>
    
    <!---------------------------------------------------------------------------->
	<div class="content-wrap">


		<th:block th:include="adminPage/adminPageList"></th:block>


	    <div class="allMemberList-wrap">
	        
	        <h2>회원목록</h2>
	
	        <div class="allMemberList-table-wrap">
	            <table>
	                <thead>
	                    <tr>
	                        <th class="memberId">아이디</th><th class="memberName">회원명</th><th class="memberPhone">연락처</th><th class="memberAddr">배송지</th>
	                    </tr>
	                </thead>
	                <tbody>
	                    <tr>
	                        <td>as1231991</td><td>손동효</td><td>010-5468-5721</td><td>서울시 영등포구 영중로 6길 12 포레스트힐시티 1001호</td>
	                    </tr>
	                </tbody>
	            </table>
	        </div> <!--<div class="allMemberList-table-wrap">-->
	
	        <div class="moreBtn-wrap">
	            <button type="button" class="moreBtn">더보기</button>
	        </div> <!--<div class="moreBtn-wrap">-->
	
	    </div> <!--<div class="allMemberList-wrap">-->

	</div> <!-- <div class="content-wrap"> -->
    <!---------------------------------------------------------------------------->
    
    <th:block th:include="common/footer"></th:block>
    
</body>
</html>