<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>등록 상품 현황</title>
    <link rel="stylesheet" href="/css/allProductList.css">
</head>
<body>
    
    <th:block th:include="common/header"></th:block>
    
    <!---------------------------------------------------------------------------->
	<div class="content-wrap">


		<th:block th:include="adminPage/adminPageList"></th:block>


	    <div class="allProductList-wrap">
	        
	        <h2>등록 상품 현황</h2>
	
	        <div class="allProductList-table-wrap">
	            <table>
	                <thead>
	                    <tr>
	                        <th class="productNo">상품번호</th><th class="productName">상품명</th><th class="productOption">옵션</th><th class="productAmount">재고수량</th>
	                    </tr>
	                </thead>
	                <tbody>
	                    <tr th:each="product:${productList}" onclick="window.location.href='#';">
	                        <td th:text="${product.productNo}"></td><td th:text="${product.productName}"></td><!-- <td th:text="${product.productOption}"></td><td th:text="${product.productAmount}"></td> -->
	                    </tr>
	                </tbody>
	            </table>
	        </div> <!--<div class="allMemberList-table-wrap">-->
	
			<div id="pageNavi" th:utext="${pageNavi}"></div>	
	
	    </div> <!--<div class="allMemberList-wrap">-->
 
	</div> <!-- <div class="content-wrap"> -->
    <!---------------------------------------------------------------------------->
    
    <th:block th:include="common/footer"></th:block>
    
</body>
</html>