<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>주문 현황 관리</title>
    <link rel="stylesheet" href="/css/orderStatusManagement.css">
</head>
<body>
    
    <th:block th:include="common/header"></th:block>
    
    <!---------------------------------------------------------------------------->
	<div class="content-wrap">


		<th:block th:include="adminPage/adminPageList"></th:block>


	    <div class="orderStatusManagement-wrap">
	        
	        <h2>주문 현황 관리</h2>
	        
	        <div class="guide-ment-wrap">
	            <p>배송 정보 선택시, 주문내역으로 이동</p>
	        </div>
	
	        <div class="orderStatusManagement-table-wrap">
	            <table>
	                <thead>
	                    <tr>
	                        <th class="order-no">주문번호</th>
	                        <th class="produnt-name">상품명</th>
	                        <th class="memberName">회원명</th>
	                        <th class="memberAddr">배송지</th>
	                        <th class="orderStatus">주문 현황</th>
	                        <th class="change-orderStatus">상태 변경</th>
	                    </tr>
	                </thead>
	                <tbody>
	     				<tr th:each="order:${orderList}">
		                        <td th:text="${order.orderNo}"></td>
		                        <td th:text="${order.productName}"></td>
		                        <td th:text="${order.memberName}"></td>
		                        <td th:text="${order.memberAddr}"></td>
		                 
		                        <th:block th:switch="${order.orderStatus}">
			                        <td th:case="1">
			                            <select name="selectOrderStatus" class="selectOrderStatus">
			                                <option value="1" selected>결제 대기</option>
			                                <option value="2">결제 완료</option>
			                                <option value="3">주문 취소</option>
			                                <option value="4">배송 준비 중</option>
			                                <option value="5">배송 중</option>
			                                <option value="6">배송 완료</option>
											<option value="7">교환</option>
											<option value="8">반품</option>
			                            </select>
			                        </td>
			                        <td th:case="2">
			                        	<select name="selectOrderStatus" class="selectOrderStatus">
			                                <option value="1">결제 대기</option>
			                                <option value="2" selected>결제 완료</option>
			                                <option value="3">주문 취소</option>
			                                <option value="4">배송 준비 중</option>
			                                <option value="5">배송 중</option>
			                                <option value="6">배송 완료</option>
											<option value="7">교환</option>
											<option value="8">반품</option>
			                            </select>
			                        </td>
			                        <td th:case="3">
			                        	<select name="selectOrderStatus" class="selectOrderStatus">
			                                <option value="1">결제 대기</option>
			                                <option value="2">결제 완료</option>
			                                <option value="3" selected>주문 취소</option>
			                                <option value="4">배송 준비 중</option>
			                                <option value="5">배송 중</option>
			                                <option value="6">배송 완료</option>
											<option value="7">교환</option>
											<option value="8">반품</option>
			                            </select>
			                        </td>
			                        <td th:case="4">
			                        	<select name="selectOrderStatus" class="selectOrderStatus">
			                                <option value="1">결제 대기</option>
			                                <option value="2">결제 완료</option>
			                                <option value="3">주문 취소</option>
			                                <option value="4" selected>배송 준비 중</option>
			                                <option value="5">배송 중</option>
			                                <option value="6">배송 완료</option>
											<option value="7">교환</option>
											<option value="8">반품</option>
			                            </select>
			                        </td>
			                        <td th:case="5">
			                        	<select name="selectOrderStatus" class="selectOrderStatus">
			                                <option value="1">결제 대기</option>
			                                <option value="2">결제 완료</option>
			                                <option value="3">주문 취소</option>
			                                <option value="4">배송 준비 중</option>
			                                <option value="5" selected>배송 중</option>
			                                <option value="6">배송 완료</option>
											<option value="7">교환</option>
											<option value="8">반품</option>
			                            </select>
			                        </td>
			                        <td th:case="6">
			                        	<select name="selectOrderStatus" class="selectOrderStatus">
			                                <option value="1">결제 대기</option>
			                                <option value="2">결제 완료</option>
			                                <option value="3">주문 취소</option>
			                                <option value="4">배송 준비 중</option>
			                                <option value="5">배송 중</option>
			                                <option value="6" selected>배송 완료</option>
											<option value="7">교환</option>
											<option value="8">반품</option>
			                            </select>
			                        </td>
			                        <td th:case="7">
			                        	<select name="selectOrderStatus" class="selectOrderStatus">
			                                <option value="1">결제 대기</option>
			                                <option value="2">결제 완료</option>
			                                <option value="3">주문 취소</option>
			                                <option value="4">배송 준비 중</option>
			                                <option value="5">배송 중</option>
			                                <option value="6">배송 완료</option>
											<option value="7" selected>교환</option>
											<option value="8">반품</option>
			                            </select>
			                        </td>
			                        <td th:case="8">
			                        	<select name="selectOrderStatus" class="selectOrderStatus">
			                                <option value="1">결제 대기</option>
			                                <option value="2">결제 완료</option>
			                                <option value="3">주문 취소</option>
			                                <option value="4">배송 준비 중</option>
			                                <option value="5">배송 중</option>
			                                <option value="6">배송 완료</option>
											<option value="7">교환</option>
											<option value="8" selected>반품</option>
			                            </select>
			                        </td>
		                        </th:block>
		                        <td>
		                            <button type="button" class="change-btn">변경</button>
		                        </td>
		                 </tr>
	                </tbody>
	            </table>
	        </div> <!--<div class="orderStatusManagement-table-wrap">-->
	
			<div id="pageNavi" th:utext="${pageNavi}"></div>	
	
	    </div> <!--<div class="orderStatusManagement-wrap">-->

	</div> <!-- <div class="content-wrap"> -->
    <!---------------------------------------------------------------------------->
    
    <th:block th:include="common/footer"></th:block>
    <script src="/javascript/jquery-3.7.0.js"></script>
    <script>
    	//'변경'버튼
    	$(".change-btn").on("click", function(){
    		console.log("클릭");
    		const selectOrderStatus = $(this).parent().prev().children().val();
    		const orderNo = $(this).parent().parent().children().eq(0).text();
    		location.href = "/adminPage/orderUpdate?btn=2&reqPage=1&orderNo="+orderNo+"&selectOrderStatus="+selectOrderStatus;
    	});
    </script>
</body>
</html>