@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
}
*{
	margin:0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
    color: #333333;
    font-size: 18px;
}
.essential{
    font-weight: bold;
}
.sharp{
    color: #A52502;
    font-weight: 900;
}
.us-wrap{
	width: 1200px;
    margin: 150px auto;
    position: relative;
}
#us-bgc{
    min-width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
}
.us-title{
	margin: 100px 0;
}
.us-title h1{
    font-size: 32px;
    text-align: center;
}
.us-title p{
    text-align: center;
}
.value-img{
    width: 364px;
}
.us-value{
    margin: 50px 0;
    display: flex;
    overflow: hidden;
}
.us-value>img{
    float: left;
}
.us-value div{
    overflow: hidden;
    float: left;
    padding-top: 20px;
    padding-left: 40px;
}
.value-title{
    color: #1C8394;
    font-weight: bold;
}
.us-value>div>a{
    text-decoration: none;
}
/****************************************/
.area>ul{
    list-style: none;
    overflow: hidden;
}
.area>ul li{
    display: block;
    float: left;
    width: calc(1200px / 9);
    box-sizing: border-box;
    height: 50px;
    text-align: center;
    line-height: 50px;
    display: block;
    border-bottom: 2px solid transparent;
    transition-duration: 0.5s;
}
.area>ul>li:hover{
    font-weight: 900;
    font-size: 1.1em;
    cursor: pointer;
    border-bottom: 2px solid #1C8394;
    color: #1C8394;
}
.active-tab{
    font-weight: 900;
    font-size: 1.1em;
    cursor: pointer;
    border-bottom: 2px solid #1C8394;
    color: #1C8394;
}
.area-img{
    overflow: hidden;
    margin: 50px 0;
}
.area-img>img{
    width: 480px;
    display: block;
    float: left;
    box-sizing: border-box;
    height: 360px;
}
#map{
    float: left;
    width:480px;
    height:360px;
}
.area-detail{
    overflow: hidden;
    margin: 50px 120px;
}
.area-content{
    float: left;
    width: 480px;
}
.area-detail b{
	display: block;
	margin-top: 20px;
}