@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
}
*{
	margin:0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
    color: #333333;
    font-size: 18px;
}
.essential{
    font-weight: bold;
}
.sharp{
    color: #A52502;
    font-weight: 900;
}
.us-wrap{
	width: 1200px;
    margin: 0 auto;
}
#us-bgc{
    min-width: 100%;
    min-height: 100%;
    margin-top: 100px;
}
.us-title{
	margin: 100px 0;
}
.us-title h1{
    font-size: 32px;
    text-align: center;
}
.us-title p{
    text-align: center;
}
.value-img{
    width: 364px;
}
.us-value{
    margin: 50px 0;
    display: flex;
    overflow: hidden;
}
.us-value>img{
    float: left;
}
.us-value div{
    overflow: hidden;
    float: left;
    padding-top: 20px;
    padding-left: 40px;
}
.value-title{
    color: #1C8394;
    font-weight: bold;
}
.us-value>div>a{
    text-decoration: none;
}
/*****************오프라인매장 CSS***********************/
.area>ul{
    list-style: none;
    overflow: hidden;
}
.area>ul li{
    display: block;
    float: left;
    width: calc(1200px / 9);
    box-sizing: border-box;
    height: 50px;
    text-align: center;
    line-height: 50px;
    display: block;
    border-bottom: 2px solid transparent;
    transition-duration: 0.5s;
}
.area>ul>li:hover{
    font-weight: 900;
    font-size: 1.1em;
    cursor: pointer;
    border-bottom: 2px solid #1C8394;
    color: #1C8394;
}
.area-active{
    font-weight: 900;
    font-size: 1.1em;
    cursor: pointer;
    border-bottom: 2px solid #1C8394;
    color: #1C8394;
}
.area-img{
    overflow: hidden;
    margin: 50px 0;
}
.area-img>img{
    width: 480px;
    display: block;
    float: left;
    box-sizing: border-box;
    height: 360px;
}
#map{
    float: left;
    width:480px;
    height:360px;
}
.area-detail{
    overflow: hidden;
    margin: 50px 120px;
}
.area-content{
    float: left;
    width: 480px;
}
.area-detail b{
	display: block;
	margin-top: 20px;
}
/*********** 페이징 디자인 ***********/
.pagination {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}
.pagination > li {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  overflow: hidden;
}
.pagination.circle-style > li {
  border-radius: 50%;
}
.pagination > li > a.page-item {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 18px;
  text-decoration: none;
}
.pagination > li > a.page-item > span.material-icons {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 40px;
}
.pagination .page-item.active-page {
  background-color: #1C8394;
  color: #fff;
}
/******************미디어 센터 CSS**********************/

.news-list{
	width:80%;
	margin:0 auto;
	padding:25px 10px;
	box-sizing:border-box;
	border-bottom:0.5px solid #333;
	overflow: hidden;
}
.news-list>span{
	font-size: 16px;
}
.news-list>h3{
	padding:10px 0;
}.us-wrap>a{
    text-decoration: none;
}
.news-content{
	width:80%;
	margin:0 auto;
	padding:25px 10px;
	box-sizing:border-box;
	border-bottom:0.5px solid #333;
}
.news-content>h3{
	text-align:center;
	padding:25px 0;
}
.newsContent{
	padding: 25px 0;
}
.news-center{
	text-align:center;
}
/**************** WriteFrm *****************/
