/*적립금*/
/*accmulated_money.html*/
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
    font-family: 'Noto Sans KR', sans-serif;
}

*{
    padding: 0;
    margin: 0;  
    color: #333333;
    font-family: 'Noto Sans KR', sans-serif;
}



.content-wrap{
    display: flex;
    width: 1200px;
    padding: 50px 0 80px 0;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
}



.accmulated-money-wrap{
    width: 1200px;
}

h2{
    padding-bottom: 10px;
}



.guide-ment-wrap{
    margin-bottom: 10px;
}
p{
    color: rgb(155, 155, 155);
    font-weight: bold;
    font-size: 0.8em;
}



.show-accmulated-money-wrap{
    margin: 0 auto;
    border: 1px solid #9e9e9e;
    width: 600px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    margin-bottom: 10px;
    overflow: hidden;
}
.show-accmulated-money{
    font-size: 1.3em;
    float: left;
    padding-left: 100px;
}
.accmulated-money{
    font-weight: bold;
    font-size: 1.3em;
    color: #1C8394;
    float: right;
    padding-right: 100px;
}




table{
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px; 
}
th {
    height: 50px;
    text-align: center;
    border-top: 2px solid #333;
    border-bottom: 1.5px solid #333;
}
td {
    height: 50px;
    border-bottom: 1px solid rgb(244, 244, 244);
    text-align: center;
}
tbody>tr>:last-child{
    color: #A52502;
}
.buy-date{
    width: 150px;
}
.buy-price{
    width: 150px;
}
.buy-product-text:hover{
    cursor: pointer;
    text-decoration: underline;
}



.moreBtn-wrap{
    text-align: center;
}
.moreBtn{
    width: 300px;
    height: 40px;
    color: #fff;
    border: none;
    font-weight: bold;
    font-size: 1.1em;
    background-color: #1C8394;
    cursor: pointer;
}