/*관리자페이지 리스트*/
/*adminPageList.html*/
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
    font-family: 'Noto Sans KR', sans-serif;
}

*{
    padding: 0;
    margin: 0;  
    color: #333333;
    font-family: 'Noto Sans KR', sans-serif;
}



.wrap-title {
    height: 30px;
    padding: 5px 0 15px 1px;
    font-size: 24px;
    font-weight: bold;
    line-height: 40px;
    letter-spacing: -1px;
}



.myPage-list-wrap{
    width: 240px;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.sideButton{
    display: block; /*<a>태그는 inline속성이므로, block으로 변경하여야 너비, 높이가 적용된다.*/ 
    background-color: #fff;
    border: none;
    text-align: left;
    width: 200px;
    height: 50px;
    line-height: 50px;
    font-size: 1.0em;
    padding-left: 15px;
    cursor: pointer;
}
.sideButton:hover, .sideButton.active{
    background-color: #1C8394;
    color: #fff;
}
.sideButton:visited{
    background-color: #1C8394;
    color: #fff;
}



.beta{
    background-color: #A52502;
    display: inline-block;
    color: #fff;
    margin-left: 70px;
    font-size: 0.8em;
    text-align: center;
    width: 45px;
    height: 20px;
    line-height: 20px;
    border-radius: 8px;
}