/*************장바구니****************/
.empty-cart{
	width:80%;
	margin:0 auto;
	padding:100px 0;
	border-top: 2px solid #333;
	border-bottom: 2px solid #333;
}
.empty-cart>span{
	display: block;
	text-align:center;
}
.guide-ment{
    color: rgb(155, 155, 155);
    font-size: 0.8em;
}
.full-cart{
	width:80%;
	margin:0 auto;
	border-bottom: 2px solid #333;
	margin-bottom: 50px;
}
.full-cart [type=checkbox]{
	width:18px;
	height:18px;
}
.cart-detail{
	text-decoration:none;
}
.full-cart [colspan='3']{
	text-align:left;
	padding-left:20px;
}
.normal-btn{
    padding: 0px 10px;
    text-align: center;
    overflow: hidden;
    width: 130px;
    height: 50px;
    color: #1C8394;
    background-color: #fff;
    border: 1px solid #1C8394;
    line-height: 50px;
    box-sizing: border-box;
    cursor: pointer;
    font-size:16px;
}









.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
}
.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
    
}
.modal.show {
    display: block;
}
.modal_body {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 700px;
    height: auto;
    padding: 40px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
    transform: translateX(-50%) translateY(-50%);
}