/*주문취소/교환/반품 1*/
/*Donghyo_orderCancel-change-return 1*/
*{
    padding: 0;
    margin: 0;  
}

.orderCancel-change-return-wrap{
    width: 800px;
}

h3{
    padding-bottom: 10px;
}


.select-tap-container{
    overflow: hidden;
    padding-bottom: 10px;
}
input[name=orderCancel-change-return-tap]+label{
    border: 1px solid black;
    float: left;
    display: block; /*display 속성이 설정되지 않으면 너비, 높이 속성이 적용되지 않음*/
    width: 200px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}
input[name=orderCancel-change-return-tap]:checked+label{
    background-color: #1C8394;
    border: 1px solid #1C8394;
    color: #fff;
}
input[name=orderCancel-change-return-tap]{
    display: none;
}

.orderCancel-change-return-register-table{
    clear: both;
}
table{
    border-collapse: collapse;
    width: 800px;
    margin: 0 auto;
    margin-bottom: 10px; 
}
th {
    height: 50px;
    text-align: center;
    border-top: 1.5px solid rgb(148,148,148);
    border-bottom: 1.5px solid rgb(148,148,148);
}
tbody tr:hover {
    text-decoration: underline;
    cursor: pointer;
}
td {
    height: 50px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}
tbody>tr>:last-child{
    color: #A52502;
}

/*체크박스 디자인*/
.check input[type="checkbox"] {
    -webkit-appearance: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    width: 20px;
    height: 20px;
    cursor: pointer;
    outline: none !important;
    border: 1px solid #9999;
    vertical-align: middle;
}
.check input[type="checkbox"]::before {
    content: "\2713";
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    transform: scale(0) translate(-50%, -50%);
    line-height: 1;
}
.check input[type="checkbox"]:checked {
    background-color: #1C8394;
    border-color: rgba(255, 255, 255, 0.3);
    color: white;
    font-weight: bold;
}
.check input[type="checkbox"]:checked::before {
    border-radius: 4px;
    transform: scale(1) translate(-50%, -50%)
}



.registerBtn-wrap{
    text-align: right;
}
.registerBtn{
    background-color: #1C8394;
    border: none;
    width: 150px;
    height: 40px;
    font-size: 1.1em;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}