/*주문취소/교환/반품 1*/
/*orderCancel-change-return_1.html*/
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
}

*{
    padding: 0;
    margin: 0;  
    color: #333333;
    font-family: 'Noto Sans KR', sans-serif;
}




.content-wrap{
    display: flex;
    width: 1200px;
    padding: 50px 0 80px 0;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
}




.orderCancel-change-return-wrap{
    width: 1200px;
}

h2{
    padding-bottom: 10px;
}


.select-tap-container{
    overflow: hidden;
    padding-bottom: 10px;
}
input[name=orderCancel-change-return-tap]+label{
    border: 1px solid black;
    float: left;
    display: block; /*display 속성이 설정되지 않으면 너비, 높이 속성이 적용되지 않음*/
    width: 200px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}
input[name=orderCancel-change-return-tap]:checked+label{
    background-color: #1C8394;
    border: 1px solid #1C8394;
    color: #fff;
}
input[name=orderCancel-change-return-tap]{
    display: none;
}

.orderCancel-change-return-register-table{
    clear: both;
}
table{
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px; 
}
th {
    height: 50px;
    text-align: center;
    border-top: 2px solid #333;
    border-bottom: 1.5px solid #333;
}
td {
    height: 50px;
    border-bottom: 1px solid rgb(244, 244, 244);
    text-align: center;
}
tbody>tr>:last-child{
    color: #A52502;
}

/*체크박스 디자인*/
.check input[type="checkbox"] {
    -webkit-appearance: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    width: 20px;
    height: 20px;
    cursor: pointer;
    outline: none !important;
    border: 1px solid #9999;
    vertical-align: middle;
}
.check input[type="checkbox"]::before {
    content: "\2713";
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    transform: scale(0) translate(-50%, -50%);
    line-height: 1;
}
.check input[type="checkbox"]:checked {
    background-color: #1C8394;
    border-color: rgba(255, 255, 255, 0.3);
    color: white;
    font-weight: bold;
}
.check input[type="checkbox"]:checked::before {
    border-radius: 4px;
    transform: scale(1) translate(-50%, -50%)
}




.registerBtn-wrap{
    text-align: right;
}
.registerBtn{
    background-color: #1C8394;
    border: none;
    width: 150px;
    height: 40px;
    font-size: 1.1em;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}



/* page-design */
.page-design2 {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.page-design2 > li {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    overflow: hidden;
}
.page-design2.circle-style > li {
    border-radius: 20%;
}
.page-design2 > li > a.page-item {
    color: rgb(28, 131, 148);
    display: block;
    width: 100%;
    height: 100%;
    font-size: 18px;
}
.page-design2 > li > a.page-item > span.material-icons {
    color: rgb(28, 131, 148);
    display: block;
    width: 100%;
    height: 100%;
    line-height: 40px;
}
.page-design2 .page-item.active-page {
    background-color: rgb(28, 131, 148);
    color: #fff;
}