/*주문내역 / 배송현황 1*/
/*orderHistory-deliveryStatus_1.html*/
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
}

*{
    padding: 0;
    margin: 0;  
    color: #333333;
    font-family: 'Noto Sans KR', sans-serif;
}


.content-wrap{
    display: flex;
    width: 1200px;
    padding: 50px 0 80px 0;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
}





.orderHistory-deliveryStatus-wrap{
    width: 1200px;
}

h2{
    padding-bottom: 10px;
}




.input-date-wrap{
    border-top: 2px solid #333;
    border-bottom: 1.5px solid #333;
    padding: 20px;
}
.input-date-wrap>:first-child{
    font-weight: bold;
}
input[name=select-date]{
    width: 120px;
    height: 26px;
}
.dateBtn{
    width: 100px;
    height: 30px;
    font-weight: bold;
    color: white;
    border: none;
    background-color: #1C8394;
    cursor: pointer;
}


.date-message{
    padding: 10px;
    font-size: 0.8em;
}
p, #between{
    color: rgb(155, 155, 155);
    font-weight: bold;
    float: left;
}
.guide-ment{
    clear: both;
	color: rgb(155, 155, 155);
    font-weight: bold;
    text-decoration: underline;
}


table{
	width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    margin-bottom: 1em;
}
th {
    height: 50px;
    text-align: center;
    border-top: 2px solid #333;
    border-bottom: 1.5px solid #333;
}
td {
    height: 50px;
    border-bottom: 1px solid rgb(244, 244, 244);
    text-align: center;
}
tbody>tr>:last-child{
    color: #A52502;
}
tbody tr:hover {
    text-decoration: underline;
    cursor: pointer;
}


.moreBtn-wrap{
    text-align: center;
}
.moreBtn{
    width: 300px;
    height: 40px;
    color: #fff;
    border: none;
    font-weight: bold;
    font-size: 1.1em;
    background-color: #1C8394;
    cursor: pointer;
}




/* page-design */
.page-design {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.page-design > li {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    overflow: hidden;
}
.page-design.circle-style > li {
    border-radius: 20%;
}
.page-design > li > a.page-item {
    color: rgb(28, 131, 148);
    display: block;
    width: 100%;
    height: 100%;
    font-size: 18px;
}
.page-design > li > a.page-item > span.material-icons {
    color: rgb(28, 131, 148);
    display: block;
    width: 100%;
    height: 100%;
    line-height: 40px;
}
.page-design .page-item.active-page {
    background-color: rgb(28, 131, 148);
    color: #fff;
}