/*주문취소/교환/반품 3*/
/*orderCancel-change-return_3.html*/
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
    font-family: 'Noto Sans KR', sans-serif;
}

*{
    padding: 0;
    margin: 0;  
    color: #333333;
    font-family: 'Noto Sans KR', sans-serif;
}




.content-wrap{
    display: flex;
    width: 1200px;
    padding: 50px 0 80px 0;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
}




.orderCancel-change-return-wrap{
    width: 1200px;
}

h2{
    padding-bottom: 10px;
}


.select-tap-container{
    overflow: hidden;
    padding-bottom: 10px;
}
input[name=orderCancel-change-return-tap]+label{
    border: 1px solid black;
    float: left;
    display: block; /*display 속성이 설정되지 않으면 너비, 높이 속성이 적용되지 않음*/
    width: 200px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}
input[name=orderCancel-change-return-tap]:checked+label{
    background-color: #1C8394;
    border: 1px solid #1C8394;
    color: #fff;
}
input[name=orderCancel-change-return-tap]{
    display: none;
}


table{
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px; 
}
th {
    height: 50px;
    text-align: center;
    border-top: 2px solid #333;
    border-bottom: 1.5px solid #333;
}
td {
    height: 50px;
    border-bottom: 1px solid rgb(244, 244, 244);
    text-align: center;
}
tbody>tr>:last-child{
    color: #A52502;
}
.product-info-text:hover{
    cursor: pointer;
    text-decoration: underline;
}



.moreBtn-wrap{
    text-align: center;
}
.moreBtn{
    width: 300px;
    height: 40px;
    color: #fff;
    border: none;
    font-weight: bold;
    font-size: 1.1em;
    background-color: #1C8394;
    cursor: pointer;
}