/*상품후기 2*/
/*productReview(modal)_2.html*/
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
.notosanskr * { 
    font-family: 'Noto Sans KR', sans-serif;
}
*{
    padding: 0;
    margin: 0;  
    color: #333333;
    font-family: 'Noto Sans KR', sans-serif;
}
.write-review-modal-wrap{
    padding: 30px;
    width: 740px;
    height: 600px;
}
h2{
    padding-bottom: 10px;
}
.product-info{
    padding: 10px;
    width: 720px;
    height: 150px;
    overflow: hidden;
    border-top: 2px solid #333;
    border-bottom: 1.5px solid #333;
    margin-bottom: 10px;
}
.img-container{
    width: 150px;
    height: 150px;
    float: left;
}
.product-title{
    clear: both;
    display: inline-block;
    margin-left: 40px;
    line-height: 150px;
}
.button-container{
    text-align: center;
    margin-bottom: 10px;
}
.insert-file-btn{
    width: 100px;
    height: 25px;
    font-weight: bold;
    color: #686868;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}
.textarea-container{
    width: 740px;
    height: 300px;
    margin-bottom: 5px;
}
.review-detail{
    font-size: 1.1em;
    padding: 10px;
    width: 720px;
    height: 280px;
    resize: none;
    border: 1.5px solid #9e9e9e;
    outline: none;
}



.registerBtn-wrap{
    text-align: right;
}
.registerBtn{
    background-color: #1C8394;
    border: none;
    width: 150px;
    height: 40px;
    font-size: 1.1em;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}
form{
    display: inline;
}