@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
    font-family: 'Noto Sans KR', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    color: #333333;
    font-family: 'Noto Sans KR', sans-serif;
}

.product-list-content{
    width: 1200px;
    margin: 0 auto;
}

.product-list-content>p{
    font-size: 50px;
    text-align: center;
    margin: 30px 0;
}

.product-list-content>ul{
    width: 100%;
    list-style-type: none;
    overflow: hidden;
}

.product-list-content>ul>li>a{
    width: calc(100% / 4);
    float: left;
    text-decoration: none;
    position: relative;
    margin-bottom: 50px;
}

.product-img{
    text-align: center;
}

.product-img>img{
    width: 200px;
    height: 200px;
}

.product-info{
    margin: 10px 50px 0 50px;
}

.product-name{
    font-size: 20px;
}

.product-brand{
    font-size: 13px;
}

.sharp{
    color: #A52502;
}

.product-price-info{
    overflow: hidden;
    margin-top: 10px;
}

.product-price-info>div{
    float: left;
    height: 30px;
    line-height: 30px;
}

.product-final-price{
    width: 30%;
    font-size: 15px;
}

.product-price{
    width: 35%;
    font-size: 11px;
    text-decoration: line-through;
    color: #ccc;
}

.product-percent{
    width: 35%;
    text-align: right;
    color: #A52502;
}

.list-cart{
    position: absolute;
    width: 30px;
    height: 30px;
    right: 60px;
    bottom: 113px;
}

#soldout{
    display: none;
    width: 60px;
    height: 18px;
    font-size: 12px;
    border: 1px solid #9e9e9e;
    text-align: center;
    margin-bottom: 5px;
    background-color: #9e9e9e;
    color: white;
}