/*상품문의 1*/
/*productInquiry_1.html*/
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
    font-family: 'Noto Sans KR', sans-serif;
}

*{
    padding: 0;
    margin: 0;  
    color: #333333;
    font-family: 'Noto Sans KR', sans-serif;
}



.content-wrap{
    display: flex;
    width: 1200px;
    padding: 50px 0 80px 0;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
}



.product-inquiry-wrap{
    width: 1200px;
}

h2{
    padding-bottom: 10px;
}



.guide-ment-wrap{
    margin-bottom: 10px;
}
p{
    color: rgb(155, 155, 155);
    font-weight: bold;
    font-size: 0.8em;
}



table{
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px; 
}
th {
    height: 50px;
    text-align: center;
    border-top: 2px solid #333;
    border-bottom: 1.5px solid #333;
}
td {
    height: 50px;
    border-bottom: 1px solid rgb(244, 244, 244);
    text-align: center;
}
tbody>tr>:last-child{
    color: #A52502;
}
tbody tr:hover{
    text-decoration: underline;
    cursor: pointer;
}




.registerBtn-wrap{
    text-align: right;
}
.reWriteBtn, .closeBtn{
    background-color: #1C8394;
    border: none;
    width: 150px;
    height: 40px;
    font-size: 1.1em;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}





.moreBtn-wrap{
    text-align: center;
}
.moreBtn{
    width: 300px;
    height: 40px;
    color: #fff;
    border: none;
    font-weight: bold;
    font-size: 1.1em;
    background-color: #1C8394;
    cursor: pointer;
}