@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
    font-family: 'Noto Sans KR', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    color: #333333;
    font-family: 'Noto Sans KR', sans-serif;
}

.product-detail{
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

.product-detail-category{
    margin-bottom: 30px;
}

.product-detail-category>a{
    text-decoration: none;
}

.product-detail-content1{
    overflow: hidden;
    height: 600px;
}

.product-detail-subimg-box{
    float: left;
    margin-right: 15px;
}

.product-detail-subimg-box>div{
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
}

.subimg-box1>img, .subimg-box2>img, .subimg-box3>img, .subimg-box4>img{
    width: 100%;
    height: 100%;

}

.product-detail-mainimg-box{
    float: left;
    width: 450px;
    height: 450px;
}

.product-detail-mainimg-box>img{
    width: 100%;
    height: 100%;
}

/* product-detail-info */

.product-detail-info{
    float: left;
    width: 400px;
    margin-left: 150px;
    overflow: hidden;
}

.detail-info1{
    float: left;
    height: 80px;
    width: 80%;
}

.product-detail-info-brand{
    font-size: 18px;
}

.sharp, .star{
    color: #A52502;
}

.product-detail-info-name{
    font-size: 20px;
    font-weight: bold;
}

.product-detail-info-starrate{
    float: left;
    width: 20%;
    height: 80px;
    line-height: 80px;
}

.detail-info2{
    width: 100%;
    height: 50px;
    float: left;
}

.product-detail-info-percent{
    float: left;
    margin-right: 10px;
    color: #A52502;
    font-size: 20px;
    line-height: 50px;;
}
.product-detail-info-price{
    font-size: 15px;
    text-decoration: line-through;
    color: #bbbbbb;
    height: 50px;
    line-height: 50px;;
}

.product-detail-info-final-price{
    float: left;
    width: 100%;
    font-size: 30px;
    font-weight: bold;
}

.detail-info3{
    float: left;
    margin-top: 20px;;
    width: 100%;
}

.product-detail-info-point, .product-detail-info-del{
    width: 100%;
    display: inline-block;
}

.info-point-title, .info-del-title, .info-totalPrice-title{
    float: left;
    margin-right: 30px;
    
}

.info-point, .info-del{
    float: left;
    color: #A52502;
}

.product-option{
    margin-top: 20px;
    width: 400px;
    height: 40px;
    border: 1px solid #e6e6e6;
    padding-left: 8px;
}

.product-option:focus{
    outline: none;
}

.product-detail-info-optionbox{
    width: 380px;
    background-color: #fcfcfc;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    margin: 20px 0;
    padding: 10px;
    display: none;
    overflow: hidden;
}

.option-count>*{
    float: right;
}

.option-count{
    height: 30px;
    width: 65%;
    float: left;
    margin-bottom: 5px;
}

.option-count>button{
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    line-height: 30px;
    margin: 0 10px;
}

.count{
    text-align: center;
    width: 70px;
    height: 30px;
    background-color: white;
    border: 1px solid #929292;
    font-size: 20px;
    line-height: 30px;
}

.info-totalPrice-title{
    line-height: 50px;
}

.product-detail-info-totalPrice{
    height: 50px;
}

.info-totalPrice, .info-totalPrice2{
    float: right;
    font-size: 30px;
    line-height: 50px;
}

.product-detail-btn-box{
    overflow: hidden;
    width: 100%;
}

.product-detail-btn-box>button{
    margin-top: 15px;
    float: left;
    width: 190px;
    height: 60px;
    margin-right: 10px;
    border: 1px solid #1C8394;
    font-size: 20px;
    line-height: 60px;
    box-sizing: border-box;
}

#purchase-btn{
    color: #1C8394;
    background-color: white;
}

#cart-btn{
    color: white;
    background-color: #1C8394;
}

.product-detail-content2{
    width: 65%;
    margin-top: 100px;
    float: left;
}

.tab>ul{
    list-style: none;
    overflow: hidden;
}

.tab>ul>li{
    float: left;
    width: calc(100% / 4);
    height: 50px;
    line-height: 50px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #ccc;
    color: #1C8394;
    cursor: pointer;
}

.tab>ul>li.active-tab{
    border-top: 3px solid #1C8394;
    border-left: 1px solid #1C8394;
    border-right: 1px solid #1C8394;
    color: #1C8394;
    font-weight: 900;
    border-bottom: none;
}

.tab>ul>li.active-tab2{
    border-bottom: 1px solid #1C8394;
}

.tab-content>div{
    box-sizing: border-box;
    padding: 50px 30px;
    display: none;
}

.tab-content>div.active-content{
    display: block;
}

.product-detail-img>img{
    width: 100%;
}

.product-detail-content3{
    box-sizing: border-box;
    padding-left: 20px;
    margin-top: 100px;
    text-align: right;
    width: 300px;
    float: right;
}

/* fix option box*/

.product-option2{
    width: 280px;
    height: 40px;
    border: 1px solid #e6e6e6;
    padding-left: 8px;
}

.product-option2:focus{
    outline: none;
}

.product-detail-info-optionbox2{
    width: 260px;
    background-color: #fcfcfc;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    margin: 20px 0;
    padding: 10px;
    display: none;
    overflow: hidden;
}


.option-count2>*{
    float: right;
}

.option-count2{
    height: 30px;
    width: 65%;
    float: left;
    margin-bottom: 5px;
}

.option-count2>button{
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    line-height: 30px;
    margin: 0 10px;
}

.count2{
    text-align: center;
    width: 50px;
    height: 30px;
    background-color: white;
    border: 1px solid #929292;
    font-size: 20px;
    line-height: 30px;
}

.product-detail-btn-box2{
    overflow: hidden;
    width: 100%;
}

.product-detail-btn-box2>button{
    margin-top: 15px;
    float: left;
    width: 130px;
    height: 60px;
    border: 1px solid #1C8394;
    font-size: 20px;
    line-height: 60px;
    box-sizing: border-box;
}

.product-detail-btn-box2>button:first-child{
    margin-right: 15px;
}

.option-detail-box{
    float: left;
    width: 30%;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
}

.product-etc{
    border-top: 2px solid #333333;
    border-bottom: 2px solid #333333;
    border-collapse: collapse;
    margin: 0 auto;

}

.product-etc>tbody>tr{
    height: 200px;
    border-top: 1px solid #ccc;
}

.product-etc>tbody>tr>td{
    padding: 30px;
}

.product-etc>tbody>tr>td>ul{
    list-style-type: none;
}

.product-etc>tbody>tr>td>ul>li{
    font-size: 13px;
    line-height: 200%;
}

.product-etc>tbody>tr>td:first-child{
    width: 20%;
    text-align: center;
    background-color: #f8f8f8;
}






