@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
}

*{  
    /*
    #1C8394 #154B52 #000B0D #390D02 #A52502
    */
    margin:0;
    padding:0;
    color:#333333;

}



.content-wrap{
    display: flex;
    width: 1200px;
    padding: 50px 0 80px 0;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
}   

h2{
    padding-bottom:20px;    
}

.join-all-wrap{
    width:1200px; 
}




.join-content{
    padding-top: 20px;
}
.join-content>:nth-child(2)>div>span>label{
    padding-left: 10px;
}
.all-input-wrap>:nth-child(10){
    padding-bottom: 30px;
}
.input-wrap{
    width: 800px;
    padding: 10px;
    margin: 0 auto;
}
.label-wrap{
    display: inline-block;    
    width: 200px;    
}
input::placeholder{
    padding-left: 10px;
}
.button-wrap{
    padding-left: 20px;
    text-align: center;

}
.button-wrap>button{
    width:150px;
    height: 50px;
    border-radius: 5px;
    background-color: #fff;
   
    font-weight: 900; 
    font-size: medium; 
}
#emailChkBtn{
    border: 1px solid #ccc;
    color:#ccc;
}
#addrBtn{
    border: 1px solid #1C8394;
    color:#1C8394;
}
.input-form{
    width: 50%;
    height: 50px;
    padding: 0;
    border-radius: 5px;   
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


.join-content>:nth-child(2)>:nth-child(9){
    overflow: hidden;
    
}
.join-content>:nth-child(2)>:nth-child(9)>div{
    float: left;
    
}
.gender-wrap{
    width: 50%;
    overflow: hidden;
    padding-left: 10px;
}
.gender-wrap>div{
     
    float:left;
    width:33%;
    
}
.agree-whole-wrap{
    padding-top: 10px;
    width:800px;
    height: 200px;
}
 


.buttonBox{
    padding: 20px;
    text-align: center;
    
}
.buttonBox>button{
    width:180px;
    height: 50px;
    font-weight: 900;
    font-size: medium;
    border-radius: 5px;
    
}
#signOutBtn{
    
    
    background-color: #fff;
    border: 1px solid #1C8394;
    color: #1C8394;

    
}
#updateBtn{
    
    
    background-color:#1C8394;
    border: 1px solid #fff;
    color:  #fff;
    
}




