@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
}

*{  
    /*
    #1C8394 #154B52 #000B0D #390D02 #A52502
    */
    margin:0;
    padding:0;
    color:#333333;
    font-family: 'Noto Sans KR', sans-serif;
}
h3{
  padding-bottom: 30px;
  color: #1C8394;
}
h2{
  padding-bottom: 10px;
}
.wrap-content{
  display: flex;
  width: 1200px;
  padding: 50px 0 80px 0;
  margin: 0 auto;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}
.search-whole-wrap{
  padding: 5px 0 15px 1px;
  margin: 0 auto;
  
  
}
/* .search-wrap{
  width: 800px;
  
  text-align: center;
} */
.input-box{
  width: 480px;
  margin:0 auto;
}
.search-input-form {
  width: 450px;
  height: 70px;
  display: block;
  padding: 0.8rem;
  background-color: #fff;
  outline: none;
  border: 1px solid #ccc;  
  box-sizing: border-box;
}
.input-box>label{
  
}
 
  .input-box::placeholder{
    font-size: 16px;
  }

  .search-foot>button {
    
    padding: 1rem;
    display: block;
    box-sizing: border-box;
    transition-duration: 0.5s;
    font-size: 16px;
    width: 450px;
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 2px;
    
  }
  .searchId-btn {
    background-color: #1C8394;
    color: #fff;
    border: 2px solid #1C8394;
    margin-bottom: 10px;
  }
 
  .search-foot>button:hover {    
    cursor: pointer;
   
  }
 