@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
}

*{  
    /*
    #1C8394 #154B52 #000B0D #390D02 #A52502
    */
    margin:0;
    padding:0;
    color:#333333;

}
.join-all-wrap{
    width:800px; 
    margin: 0 auto;   
}
h1{
    padding-bottom:10px;
    text-align: center;
}
h3{
    color :#390D02;
    text-align: right;
}

.join-content{
    padding-top: 20px;
}
.join-content>:nth-child(2)>div>span>label{
    padding-left: 10px;
}
.input-wrap{
    width: 800px;
    padding: 10px;
    
}
.label-wrap{
    display: inline-block;    
    width: 200px;    
}
input::placeholder{
    padding-left: 10px;
}
.button-wrap{
    padding-left: 20px;
    text-align: center;

}
.button-wrap>button{
    width:150px;
    height: 50px;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #1C8394;
    color:#1C8394;  
    font-weight: 900; 
    font-size: medium; 
}
.input-form{
    width: 50%;
    height: 50px;
    padding: 0;
    border-radius: 5px;   
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
    
}
input[type=text]{
    padding-left: 10px;
}
.addrInfo{
    font-size: small;
    padding-top: 0;
}
.star{
    color: #A52502;
}
.join-content>:nth-child(2)>:nth-child(12){
    overflow: hidden;
}
.join-content>:nth-child(2)>:nth-child(12)>div{
    float: left;
    
}
.gender-wrap{
    width: 50%;
    overflow: hidden;
    
}
.gender-wrap>div{
     
    float:left;
    width:33%;
}
.agree-whole-wrap{
    padding-top: 10px;
    width:800px;
    height: 200px;
}
.agree-whole-wrap>div{
    
    float:left; 
    
}
.agree-whole-wrap>:first-child{
    padding-left: 10px;
    width:25%;
    
}
.agree-wrap{
    width: 70%;      
}
.agree-wrap>div{
    padding-bottom: 10px;
    width: 560px;
}
.agree-wrap>div>label{
    display: inline-block;
    width: 460px;
    
}
.agree-wrap>:first-child{
    font-size:larger;
    font-weight: bold;
    
}
.agree-wrap>div>a{
    text-decoration: none;
    color:#1C8394;
    
}
.must{
    color: #A52502;
}
.join-btn{
    padding: 20px;
    text-align: center;
    
}
.join-btn>button{
    width:200px;
    height: 80px;
    
    background-color: #1C8394;
    border: 1px solid #1C8394;
    color: #fff;
    font-weight: 900;
    font-size: large;
    border-radius: 5px;
    
}
.comment-wrap{
    background-color: #A52502;
}
.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
    
}
.modal.show {
    display: block;
}
.modal_body {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 250px;
    height: auto;
    padding: 40px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
    transform: translateX(-50%) translateY(-50%);
}
