@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
}

*{  
    /*
    #1C8394 #154B52 #000B0D #390D02 #A52502
    */
    margin:0;
    padding:0;
    color:#333333;
    font-family: 'Noto Sans KR', sans-serif;
}
h3{
  padding-bottom: 30px;
  color: #1C8394;
  text-align: center;
}
h2{
  padding-bottom: 10px;
  text-align: center;
}
.wrap-content{
  display: flex;
  width: 1200px;
  padding: 50px 0 80px 0;
  margin: 0 auto;
  flex-direction: row;
  justify-content: space-between;
  
}
.search-whole-wrap{
  padding: 5px 0 15px 1px;
  margin: 0 auto;
  
  
}

.input-box{
  width: 480px;
  
}
.search-input-form {
  width: 450px;
  height: 60px;
  display: block;
  padding: 0.8rem;
  background-color: #fff;
  outline: none;
  border: 1px solid #ccc;  
  box-sizing: border-box;
}
.comment-wrap{
  text-align: center;
}
.input-box>label{
  text-align: start;
}
  .input-box::placeholder{
    font-size: 20px;
  }

  .search-foot>button {
    
    padding: 1rem;
    display: block;
    box-sizing: border-box;
    transition-duration: 0.5s;
    font-size: 20px;
    width: 450px;
  
    margin-bottom: 10px;
    border-radius: 2px;
    
  }
  .searchPw-btn {
    background-color: #1C8394;
    color: #fff;
    border: 2px solid #1C8394;
    margin-bottom: 10px;
  }
 .search-foot{
   padding-top: 40px;
 }
  .search-foot>button:hover {    
    cursor: pointer;
   
  }
 /* 모달 */
 .modalChk {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.4);
  
}
.modalChk.show {
  display: block;
}
.modal-body {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 250px;
  height: auto;
  padding: 40px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
  transform: translateX(-50%) translateY(-50%);
}

/* 아이디 중복확인 모달 css */
.modal-body>p{
  font-size: 20px;
}

.chkBtn{
  
  font-size: 18px;
  border: none;
  color : #fff;
  text-align: center;
  background-color: #1c8394;
  border: 1px solid #1c8394; 
}