@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
}

*{  
    /*
    #1C8394 #154B52 #000B0D #390D02 #A52502
    */
    margin:0;
    padding:0;
    color:#333333;
    font-family: 'Noto Sans KR', sans-serif;
}

.wrap-content{
    display: flex;
    width: 1200px;
    padding: 50px 0 80px 0;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
    line-height: 30px;
}
.resign-all-wrap{
    
    padding: 5px 0 15px 1px;
    margin: 0 auto;
    
}
.resign-content{
    width: 850px;
    justify-content: center;
    
}
#caution-title{
    font-weight: 900;
    color:#1C8394;
}
.complain-wrap{
    /* display:flex로 수직으로 제목올림 */
    display: flex;
    padding-top: 30px;
}
.complain-wrap>:nth-child(1){
    justify-content: flex-start;
}
.resign-info-wrap{
    padding-top:20px;
    
}
.resign-info{
    display: flex;
}
.resign-info>:nth-child(1){
    justify-content: flex-start;
}
.input-password{
    padding-top: 30px;
    padding-bottom: 20px;
}

.label-wrap{
    font-size: 20px;
    display: inline-block;
    width: 200px !important;
    
}
.button-wrap{
    text-align: center;
    padding: 20px;
}
.button-wrap>button{
    display: inline-block;
    width:150px;
    height: 50px;
    border-radius: 5px;
    background-color:#1C8394;
    border: 1px solid #fff ;
    color:#fff;  
    font-weight: 900; 
    font-size: medium; 
}
label{
    vertical-align: top;
}
.content-wrap{
    display: inline-block;
    
    width: 580px;
}
.content-wrap>div{
    padding-top: 20px;
    padding-bottom: 20px;
}
.no-title-wrap{
    width:200px;
}

.input-password{
    overflow: hidden;
}
.input-password>div{
    float:left;
}
input[id="inputPw"]{
    width: 400px;
    height: 50px;
    border-radius: 3px;
    padding-left: 10px;
}

li{
    list-style-type: none;
}
.star{
    color: #A52502;
}
.comment-wrap{
    padding-left: 210px;
}