<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>주문내역 / 배송현황</title>
    <link rel="stylesheet" href="CSS/Donghyo_orderHistory-deliveryStatus_2.css">
</head>
<body>
    
    <!---------------------------------------------------------------------------->

    <div class="orderHistory-deliveryStatus-wrap">

        <h3>주문내역 / 배송현황</h3>

        <div class="order-no-wrap">
            <div class="order-no">주문번호 <span>012345678910</span></div>
            <div class="one-on-one-inquiry-wrap">
                배송 또는 상품에 문제가 있나요?<span> <a href="#">1:1 문의하기 ></a></span>
            </div>
        </div> <!--<div class="order-no-wrap">-->

        <div class="order-list-wrap">
            <table>
                <thead>
                    <tr>
                        <th colspan="2">상품정보</th><th colspan="2">배송현황</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="img-container">
                            <img src="IMG/sample-img.jpg" width="150px">
                        </td>
                        <td class="product-info">
                            <span>[ESSENTIAL#]유리 보틀</span><br>
                            <span>45,000원</span> | <span>1개</span>
                        </td>
                        <td class="delivery-status">배송완료</td>
                        <td  class="button-container">
                            <button type="button" class="reviewBtn">후기작성</button><br>
                            <button type="button" class="cartBtn">장바구니 담기 </button>
                        </td>
                    </tr>

                    <tr>
                        <td class="img-container">
                            <img src="IMG/sample-img.jpg" width="150px">
                        </td>
                        <td class="product-info">
                            <span>[ESSENTIAL#]유리 보틀</span><br>
                            <span>45,000원</span> | <span>1개</span>
                        </td>
                        <td class="delivery-status">배송완료</td>
                        <td  class="button-container">
                            <button type="button" class="reviewBtn">후기작성</button><br>
                            <button type="button" class="cartBtn">장바구니 담기 </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div> <!--<div class="order-list-wrap">-->

    </div> <!--<div class="orderHistory-deliveryStatus-wrap">-->

    <!---------------------------------------------------------------------------->
    
</body>
</html>