<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>주문취소/교환/반품</title>
    <link rel="stylesheet" href="CSS/Donghyo_orderCancel-change-return 2.css">
</head>
<body>
    
    <!---------------------------------------------------------------------------->

    <div class="orderCancel-change-return-wrap">
        
        <h3>주문취소/교환/반품</h3>
        
        <div class="select-tap-container">
            <input type="radio" name="orderCancel-change-return-tap" id="orderCancel-change-return-register" checked><label for="orderCancel-change-return-register">주문취소/교환/반품 접수</label>
            <input type="radio" name="orderCancel-change-return-tap" id="select-change-return-list"><label for="select-change-return-list">교환/반품 내역 조회</label>
        </div> <!--<div class="select-tap-container">-->


        <div class="orderCancel-change-return-register-table">
            <table>
                <thead>
                    <tr>
                        <th></th><th></th><th></th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div> <!--<div class="orderCancel-change-return-register-table">-->
        

        <div class="registerBtn-wrap">
            <button type="button" class="registerBtn">접수</button>
        </div> <!--<div class="moreBtn-wrap">-->

    </div> <!--<div class="orderCancel-change-return-wrap">-->

    <!---------------------------------------------------------------------------->

</body>
</html>