<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>테스트</h1>
	<h3><a href="/aboutUs">aboutUs</a></h3>
	<h3><a href="/myPage/updateMemberInfo?btn=0">myPage</a></h3>
	<h3><a href="/adminPage/allMemberList?btn=0">adminPage</a></h3>
	<h3><a href="/product/writeFrm">상품등록</a></h3>
	<h3><a href="/product/productList">상품 리스트</a></h3>
	<h3><a href="/notice/list?reqPage=1">noticeList</a></h3>
	<h3><a href="/member/header">member</a></h3>	
</body>
</html>