<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/semi_team_cereal/src/main/resources/static/javascript/jquery-3.7.0.js"></script>
    <link rel="stylesheet" href="/semi_team_cereal/src/main/resources/static/css/modal.css">
</head>
<body>
    <div class="modal">
        <div class="modal_body">
            <p>모달 내용 페이지</p>
            <p>모달 내용 페이지</p>
            <p>모달 내용 페이지</p>
            <p>모달 내용 페이지</p>
            <p>주변 클릭하면 모달창 닫힘</p>
            <p>주변 클릭하면 모달창 닫힘</p>
            <p>주변 클릭하면 모달창 닫힘</p>
            <p>주변 클릭하면 모달창 닫힘</p>
            <p>주변 클릭하면 모달창 닫힘</p>
            <p>주변 클릭하면 모달창 닫힘</p>
            <p>주변 클릭하면 모달창 닫힘</p>
            <p>주변 클릭하면 모달창 닫힘</p>


        </div>
    </div>
    <button class="modal-open-btn">Modal 띄우기</button>
    <script src="/semi_team_cereal/src/main/resources/static/javascript/modal.js"></script>
</body>
</html>